{% block ext_css %}
<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/css/plugins/tables/datatable/dataTables.bootstrap4.min.css">
{% endblock %}

{% extends 'cashier/index.twig' %}
{% block body %}

<!-- Content Wrapper. Contains page content -->
<div class="robust-content content container-fluid">
	<div class="content-wrapper">
		{% if flash.message %}
		{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
		<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			{{ flash.message }}
		</div>
		{% endif %}

		<section class="widget">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">For Check Generation</h4>
				</div>
				<div class="card-body collapse in">
					<div class="card-block card-dashboard">
						<table id="table-check-request" class="table table-striped table-condensed">
							<thead>
								<tr>
									<th>Action</th>
									<th>Transaction #</th>
									<th>Username</th>
									<th>Total Amount</th>
									<th>10% Processing Fee</th>
									<th>Product Maintenance (GC)</th>
									<th>Encashment Amount</th>
									<th>Date/Time</th>
								</tr>
							</thead>
							<tbody>
								{% for payout_request in pending_checks %}
								<tr>
									<td>
									<form method="post" action="{{ urlFor('admin_approve_payout') }}" id="form-submit-{{payout_request.transaction_number}}">
										<input type="hidden" name="trans_code" value="{{ payout_request.transaction_number }}" />
										<button type="button" onclick="generateCheck({{ payout_request }})" class="btn btn-success btn-sm">
											Generate Check
										</button>
									</form></td>
									<td>{{ payout_request.transaction_number }}</td>
									<td><a href="/profile/view/{{ payout_request.user_id }}" target="_blank">{{ getUserdetails(payout_request.user_id).username }}</a></td>
									<td>{{ payout_request.total_amount|number_format(2, '.', ',') }}</td>
									<td>{{ (payout_request.total_amount * 0.10)|number_format(2, '.', ',') }}</td>
									<td>{{ ((payout_request.is_pm_deducted == 1) ? 1500 : 0)|number_format(2, '.', ',') }}</td>
									<td>{{ payout_request.amount_encash|number_format(2, '.', ',') }}</td>
									<td>{{ payout_request.created_at|date("F j, Y h:i A") }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

		<section class="widget">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Generated Check Transactions</h4>
				</div>
				<div class="card-body collapse in">
					<div class="card-block card-dashboard">
						<table id="table-check-generated" class="table table-striped table-condensed">
							<thead>
								<tr>
									<th>Action</th>
									<th>Transaction #</th>
									<th>Username</th>
									<th>Total Amount</th>
									<th>10% Tax</th>
									<th>Processing Fee</th>
									<th>Product Maintenance (GC)</th>
									<th>Encashment Amount</th>
									<th>Check No.</th>
									<th>Check Date</th>
									<th>Bank Name</th>
									<th>Bank Account Number</th>
									<th>Date/Time</th>
								</tr>
							</thead>
							<tbody>
								{% for payout_request in generated_checks %}
								<tr>
									<td><a onclick="printReceipt('{{payout_request.transaction_number}}')" class="btn btn-success btn-sm"><i class="icon-ios-printer-outline"></i> Print Receipt</a></td>
									<td>{{ payout_request.transaction_number }}</td>
									<td><a href="/profile/view/{{ payout_request.user_id }}" target="_blank">{{ getUserdetails(payout_request.user_id).username }}</a></td>
									<td>{{ payout_request.total_amount|number_format(2, '.', ',') }}</td>
									<td>{{ (payout_request.total_amount * 0.10)|number_format(2, '.', ',') }}</td>
									<td>{{ 50|number_format(2, '.', ',') }}</td>
									<td>{{ ((payout_request.is_pm_deducted == 1) ? 1500 : 0)|number_format(2, '.', ',') }}</td>
									<td>{{ payout_request.amount_encash|number_format(2, '.', ',') }}</td>
									<td>{{ payout_request.check_no }}</td>
									<td>{{ payout_request.check_date|date("F j, Y") }}</td>
									<td>{{ payout_request.bank_name }}</td>
									<td>{{ payout_request.bank_account_no }}</td>
									<td>{{ payout_request.created_at|date("F j, Y h:i A") }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

	</div>
</div><!-- /.content -->

<div class="modal fade" id="generate-check">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="modal-title">TRANSACTION #: <span id="modal-transaction"></span></h4>
			</div>
			<form method="post" action="{{ urlFor('update_check_details') }}">
				<input type="hidden" name="trans_code" />
				<div class="modal-body">
					<div class="row">
						<div class="form-group col-lg-12">
							<label>Check Date</label>
							<input type="date" class="form-control" name="check_date" value="{{now}}" required/>
						</div>
						<div class="form-group col-lg-12">
							<label>Check Number</label>
							<input type="text" class="form-control" name="check_number" required/>
						</div>
						<div class="form-group col-lg-12">
							<label>Bank Name</label>
							<input type="text" class="form-control" name="bank_name" required/>
						</div>
						<div class="form-group col-lg-12">
							<label>Bank Account Number</label>
							<input type="text" class="form-control" name="bank_account_no" required/>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success btn-sm">
						Save
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Add Member modal -->
<div class="modal fade" id="print_receipt">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title"><i class="icon-android-print"></i> Print Receipt</h4>
			</div>
			<div class="modal-body">
				<input type="hidden" name="transaction_no" value="" />
				<div class="form-group">
					<label for="or_no">Official Receipt Number</label>
					<input type="text" id="or_no" class="form-control" placeholder="Official Receipt Number" name="or_no">
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-xs" id="btn-print" data-dismiss="modal">
					<i class="icon-android-print"></i> Print
				</button>
			</div>
		</div>
	</div>
</div><!-- end of add product modal -->

{% endblock %}

{% block ext_js %}
<script src="{{assetUrl}}robust/js/plugins/tables/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{assetUrl}}robust/js/plugins/tables/datatable/dataTables.bootstrap4.min.js" type="text/javascript"></script>
<script>
	$("#table-check-request").dataTable({
		"scrollX" : true
	});
	$("#table-check-generated").dataTable({
		"scrollX" : true
	});

	function generateCheck(transaction) {
		console.log(transaction);
		$("input[name=trans_code]").val(transaction.transaction_number);
		$("#modal-transaction").text(transaction.transaction_number);
		$("#generate-check").modal("show");
	}
	
	function printReceipt(transaction_no) {
		$("#print_receipt").modal("show");
		$("input[name=transaction_no]").val(transaction_no);
	}
	
	$(document).on("click", "#btn-print", function() {
		var or_no = $("input[name=or_no]").val();
		var transaction_no = $("input[name=transaction_no]").val();
		var _href = "/cashier/check_generation/print/receipt/" + transaction_no + "/" + or_no;
		window.open(window.open(_href, '_blank'));
	}); 
</script>
{% endblock %}
