{% extends 'master.twig' %}

{% block body %}

{{include('header.twig')}}
{% block sidebar %}
{% endblock %}

<!-- Main Wrapper -->
{% block content %}

{% endblock %}
{{include('footer.twig')}}

{% endblock %}