<style>
	#flag-select .head-row {
		display: block;
		clear: both;
		margin-top: 24px;
	}

	#flag-select h4 {
		font-size: 22px;
	}

	#flag-select .message-search {
		width: 100%;
		background-color: rgba(254, 254, 254, 0.4);
	}

	.flag-list {
		list-style: none;
		padding: 0px;
		max-height: 400px;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	.flag-list img {
		width: 100%;
	}

	.flag-list li {
		padding: 5px 5px;
		cursor: pointer;
	}

	.flag-preview {
		cursor: pointer;
		background: rgba(0,0,0,0.35);
	}

	.flag-preview img {
		width: 100%;
	}

	.flag-list li:hover {
		background-color: rgba(255, 255, 255, 0.15);
	}

	.flag-preview {
		width: 100%;
		border: 1px solid #585858;
	}

	.flag-preview img {
		width: 100%;
	}
</style>
<!-- Modal Flags -->
<div class="modal fade" id="flag-select" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<div class="row head-row">
					<div class="col-xs-4">
						<h4 class="modal-title">Select Flag</h4>
					</div>
					<div class="col-xs-8">
						<input class="input-sm message-search" type="text" placeholder="Search....">
					</div>
				</div>
			</div>
			<div class="modal-body">
				<ul class="flag-list">
					{% for flag in flags %}
					<li data-filename="{{ flag.basename }}">
						<div class="row">
							<div class="col-xs-2">
								<img src="{{ baseUrl ~ flag.dirname ~ '/' ~ flag.basename }}" />
							</div>
							<div class="col-xs-10">
								<span class="flag-name">{{ flag.filename }}</span>
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {

		$('.message-search').on('keyup', function() {
			var value = this.value;
			value = value.toLowerCase();

			$('.flag-list li').hide().each(function() {
				if ($(this).find(".flag-name").text().toLowerCase().search(value) > -1) {
					$(this).show();
				}
			});
		});

		$('.flag-list li').click(function() {
			var imgUrl = $(this).find('img').attr('src');
			$('.avatar-preview').attr('src', imgUrl);
			$('input[name="flag"]').val($(this).attr('data-filename'));
			$('#flag-select').modal('toggle');

			if ($('#sidebar').length) {
				var url = "{{baseUrl}}api/avatar/update";
				var data = {
					filename : $(this).attr('data-filename'),
					user_id : "{{ user.id }}"
				};
				$.post(url, JSON.stringify(data)).done(function(response) {
					// console.log("response", response);
				}).fail(function(error) {
					// console.log("error", error);
				});
			}
		});
	}); 
</script>