<!-- Footer-->
{#
<footer class="footer">
    <span class="pull-right">
        <a href="#">2016 Copyright <img src="{{assetUrl}}images/acs-logo.png" style="width: 45px; height: auto;"/> Solutions</a>
    </span>
</footer>
#}