<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<meta name="author" content="">
		<meta name="keywords" content="">
		<meta name="description" content="">

		<!-- Mobile Specific Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="apple-touch-icon" sizes="57x57" href="{{assetUrl}}images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{{assetUrl}}images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{assetUrl}}images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{assetUrl}}images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{assetUrl}}images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{assetUrl}}images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{assetUrl}}images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{assetUrl}}images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{assetUrl}}images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="{{assetUrl}}images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{assetUrl}}images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{assetUrl}}images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{assetUrl}}images/favicon/favicon-16x16.png">
		<link rel="manifest" href="{{assetUrl}}images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{assetUrl}}images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<!-- Libs CSS -->
		<link href="{{assetUrl}}cleany/css/bootstrap.css" rel="stylesheet">
		<link href="{{assetUrl}}cleany/css/simple-line-icons.css" rel="stylesheet">
		<link href="{{assetUrl}}cleany/css/font-awesome.min.css" rel="stylesheet">
		<link href="{{assetUrl}}cleany/css/prettyPhoto.css" rel="stylesheet" type="text/css" media="all" />

		<!-- Template CSS -->
		<link href="{{assetUrl}}cleany/css/style.css" rel="stylesheet">

		<!-- Google Fonts -->
		<link href='{{assetUrl}}cleany/css/cssb520.css?family=Raleway:400,700,800&amp;subsetting=all' rel='stylesheet' type='text/css'>
		<link href='{{assetUrl}}cleany/css/cssd216.css?family=Open+Sans:400italic,400,800,700,300' rel='stylesheet' type='text/css'>

		<link href="{{assetUrl}}morris-chart/css/morris.css" rel="stylesheet" type="text/css" media="screen"/>
	</head>
	<body data-spy="scroll" data-target=".navigation">

		<!-- Banner -->
		<div id="banner" class="bg-blur">
			<!-- Start Header -->
			<div id="header">
				<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<!-- Start Logo / Text -->
							<a class="navbar-brand text-logo" href="#"> <img src="{{assetUrl}}images/newjcalogo.png" width="140" height="70"/> <h3 style="display: inline; color;">JCA WELLNESS INTERNATIONAL CORP</h3> </a>
							<!-- End Logo / Text -->
						</div>
						<!-- Start Navigation -->
						<div class="navigation navbar-collapse collapse">
							<ul class="nav navbar-nav menu-right">
								<li class="active">
									<a href="#banner">Home</a>
								</li>
								<li>
									<a href="#about-us">About Us</a>
								</li>
								<li>
									<a href="#mission-vision">Mission and Vision</a>
								</li>
								<li>
									<a href="#portfolio">Products</a>
								</li>
								<li>
									<a href="/login" target="_blank">Login</a>
								</li>
							</ul>
						</div>
						<!-- End Navigation  -->
					</div>
				</nav>
			</div>
			<!-- End Header -->
			<div class="banner-content">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						<li data-target="#carousel-example-generic" data-slide-to="3"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="{{baseUrl}}assets/images/slider/product1.jpg" alt="...">
						</div>
						<div class="item">
							<img src="{{baseUrl}}assets/images/slider/product2.jpg" alt="...">
						</div>
						<div class="item">
							<img src="{{baseUrl}}assets/images/slider/product3.jpg" alt="...">
						</div>
						<div class="item">
							<img src="{{baseUrl}}assets/images/slider/product4.jpg" alt="...">
						</div>
					</div>

					<!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
					<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
				</div>
			</div>
		</div>
		<!-- End Banner -->

		<!-- payins graph -->
		<section id="about-us" class="section bg-blue-pattern">
			<div class="container">
				<div class="row">
					<div class="col-md-6" style="color: black;">
						<h2 class="headline">Why JCA?</h2>
						<p>
							<span lang="EN-US"><strong>JCA International Corporation</strong> believes that natural health and wellness has the ability to change the lives of humanity. This inspired its founders to introduce a product that will provide opportunities to aspiring entrepreneurs ways to:</span>
						</p>
						<p>
							<ul style="list-style-type: disc; margin-left: 100px;">
								<li>
									<em><strong><span lang="EN-US">Earn and learn how to start their business venture.</span></strong></em>
								</li>
								<li>
									<em><strong>To transform their lives.</strong></em>
								</li>
								<li>
									<em><strong>To be successful and gain financial freedom.</strong></em>
								</li>
							</ul>
						</p>
						<p>
							<span lang="EN-US">Instead of the usual chemical-based beauty and wellness products, JCA International Corporation&rsquo;s products are 100% safe and organic that will definitely have an everlasting benefits to its buyers and users.</span>
						</p>
						<p>
							<span lang="EN-US">Lastly, JCA Wellness International Corporation aims to deliver these broad selection of safe and organic products that will showcase its commitment to innovate today&rsquo;s beauty and wellness.</span>
						</p>
					</div>
					<div class="col-md-6" style="color: black;">
						<h2 class="headline">Benefits in JCA</h2>
						<p>
							<b>BENEFITS</b> of becoming a Member of JCA Wellness International
						</p>
						<ul style="list-style-type: disc; margin-left: 50px;">
							<li>
								Membership ID which entitles the distributor up to 36 % Lifetime Discount on all JCA Wellness Products upon repeat purchase
							</li>
							<br />
							<li>
								Package worth almost 9,000 pesos for a Standard Package,
								<br />
								27,000 pesos for a Premium Package and 63,000 pesos for a VIP Package
							</li>
							<br />
							<li>
								Opportunity to earn 15,000 a day, 90,000 a week, 360,000 a month for Override Sales Commission
							</li>
							<br />
							<li>
								Product Gift Certificates for JCA Wellness Product Purchases
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- End payins graph -->

		<!-- About Us -->
		<section id="about-us" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-6" style="color: black;">
						<h2 align="center" class="headline">About Us</h2>
						<ul style="list-style-type: disc;">
							<li>
								SEC Registration No. <b>CS201710693</b>
							</li>
							<li>
								Company TIN: <b>009-615-866</b>
							</li>
							<br />
							<li>
								<b>JCA Wellness International Corporation</b> is a company that&rsquo;s founded by group of entrepreneurs that&rsquo;s driven to build a global community that will bring various business opportunities to aspiring entrepreneurs, to provide products that will enhance one&rsquo;s beauty and wellness and to teach every aspiring entrepreneurs the various ways of earning.
							</li>
							<br />
							<li>
								<b>JCA Wellness International Corporation</b> is currently building its network in Raffles Corporate Center in Emerald Ave. Ortigas Pasig City and is starting to grow its market in the Philippines and to other countries.
							</li>
						</ul>
					</div>
					<div class="col-md-6" style="color: black;">
						<h2 align="center" class="headline">Legalities</h2>
						<div class="row">
							<div class="col-xs-4 col-sm-4 col-md-4">
								<div class="hover-details">
									<img class="img-responsive img-thumbnail" src="{{ assetUrl }}images/landing/legalities/legal3.jpg" alt="Securities and Exchange Commission" title="Securities and Exchange Commission" />
									<div class="img-cover">
										<a href="{{ assetUrl }}images/landing/legalities/legal3.jpg" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
										<h3>SEC</h3>
									</div>
								</div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4">
								<div class="hover-details">
									<img class="img-responsive img-thumbnail" src="{{ assetUrl }}images/landing/legalities/legal1.jpg" alt="Business Permit" title="Business Permit" />
									<div class="img-cover">
										<a href="{{ assetUrl }}images/landing/legalities/legal1.jpg" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
										<h3>Business Permit</h3>
									</div>
								</div>
							</div>
							<div class="col-xs-4 col-sm-4 col-md-4">
								<div class="hover-details">
									<img class="img-responsive img-thumbnail" src="{{ assetUrl }}images/landing/legalities/legal2.jpg" alt="Business Permit" title="Business Permit" />
									<div class="img-cover">
										<a href="{{ assetUrl }}images/landing/legalities/legal2.jpg" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
										<h3>Business Permit</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End About Us -->

		<!-- Mission And Vision -->
		<section id="mission-vision" class="section bg-blue-pattern">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div style="color: black;">
							<h2 class="headline">Mission</h2>
							<p>
								<strong>JCA Wellness International Corporation aims to:</strong>
							</p>
							<ul style="list-style-type: disc;">
								<li>
									<strong>Bring innovation in the beauty and wellness market.</strong>
								</li>
							</ul>
							<p>
								In this world full of chemical-based beauty and wellness product, JCA Wellness International Corp., aims to divert the market&rsquo;s attention to change their usual beauty and wellness product to safe and organic products that will guarantee them a life-long benefits.
							</p>
							<ul style="list-style-type: disc;">
								<li>
									<strong>To build a continuous brand and consumer loyalty.</strong>
								</li>
							</ul>
							<p>
								As JCA Wellness International Corporation marks it image in the market as a company that focuses on using and promoting organic and safe products, it also aims to maintain the brand positioning and the consumer loyalty by continuously providing its product and taking care of its consumers as well.
							</p>
							<ul style="list-style-type: disc;">
								<li>
									<strong>To build business opportunities that will start in the Philippines and provide financial freedom</strong>
								</li>
							</ul>
							<p>
								JCA Wellness International Corporation will start its initial market in the Philippines and it aims to help fellow aspiring Filipino entrepreneurs to start their business venture with the right products and the right investment.
							</p>
							<ul style="list-style-type: disc;">
								<li>
									<strong>To expand the network globally</strong>
								</li>
							</ul>
							<p>
								As this company will start its market in the Philippines, it also aims to go globally. It aims to build network, promote the products globally and give a higher opportunity to its future potential business partners.
							</p>
						</div>
					</div>
					<div class="col-lg-6">
						<div style="color: black;">
							<h2 class="headline">Vision</h2>
							<ul style="list-style-type: disc;">
								<br />
								<br />
								<li>
									<strong>JCA Wellness International Corporation is working towards seeing itself grow into one of the most well-known network market that will expand globally.&nbsp;</strong>
								</li>
								<br />
								<li>
									<strong>As this corporation will be build up by various entrepreneurs that focuses on building network, planning strategic ways to keep up with the market trends, innovating their organic products and to keep on building the trust and loyalty of its consumers and network.&nbsp;</strong>
								</li>
								<br />
								<li>
									<strong>Through this work and strategies that will be applied, JCA Wellness International Corporation guarantees to fulfill its mission in the near future.&nbsp;</strong>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Mission And Vision -->

		<!-- Portfolio -->
		<section id="portfolio" class="section bg-grey arrow-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="headline">
							<h2>Our Products</h2>
						</div>
					</div>
				</div>
				<div class="row">
					{#
					{% for product in products %}
					<div class="col-xs-6 col-sm-6 col-md-3">
						<!-- Start Portfolio Item -->
						<div class="hover-details">
							<img class="img-responsive img-thumbnail" src="{{ assetUrl }}images/products/{{ product.image_filename }}" alt="{{ product.product_name }}" title="{{ product.product_name }}" /><!-- Image Thumbnail  -->
							<div class="img-cover">
								<a href="{{ assetUrl }}images/products/{{ product.image_filename }}" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
								<h3>{{ product.product_description }}</h3><!-- Image Description  -->
							</div>
						</div>
						<!-- End Portfolio Item  -->
					</div>
					{% endfor %}
					#}

					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="hover-details">
							<img class="img-responsive img-thumbnail" src="{{ assetUrl }}images/slider/product3.jpg" alt="" title="" /><!-- Image Thumbnail  -->
							<div class="img-cover">
								<a href="{{ assetUrl }}images/slider/product3.jpg" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
								<h3></h3><!-- Image Description  -->
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="hover-details">
							<img class="img-responsive img-thumbnail" src="{{ assetUrl }}images/slider/product2.jpg" alt="" title="" /><!-- Image Thumbnail  -->
							<div class="img-cover">
								<a href="{{ assetUrl }}images/slider/product2.jpg" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
								<h3></h3><!-- Image Description  -->
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="hover-details">
							<img class="img-responsive img-thumbnail" src="{{ assetUrl }}images/slider/product1.jpg" alt="" title="" /><!-- Image Thumbnail  -->
							<div class="img-cover">
								<a href="{{ assetUrl }}images/slider/product1.jpg" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
								<h3></h3><!-- Image Description  -->
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="hover-details">
							<img class="img-responsive img-thumbnail" src="{{ assetUrl }}images/slider/product4.jpg" alt="" title="" /><!-- Image Thumbnail  -->
							<div class="img-cover">
								<a href="{{ assetUrl }}images/slider/product4.jpg" class="img-zoom" data-gal="prettyPhoto"><i class="icon-magnifier"></i></a><!-- Large Image  -->
								<h3></h3><!-- Image Description  -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Portfolio -->
		
		<!-- Footer Top -->
		<section class="footer footer-top">
			<div class="container">
				<div class="row">
					<!-- Contact Details  -->
					<div class="col-md-3">
						<div class="contact-info">
							<h3>Reach Us</h3>
							<ul class="contact-list">
								<li>
									<i class="icon-directions"></i> Unit 810 8/F Raffles Corporate Center, F. Ortigas Ave., Ortigas Center, San Antonio, Pasig City
								</li>
								<li>
									<i class="icon-call-in"></i>(02)631-6997 | 0917-5326968
								</li>
								<li>
									<i class="icon-envelope-open"></i><a href="mailto:jcainternationalcorp@gmail.com">jcainternationalcorp@gmail.com</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- End Contact Details  -->
					<!-- Quick Links -->
					<div class="col-md-2">
						<h3>Overview</h3>
						<ul class="quick-links">
							<li>
								<a href="{{ assetUrl }}images/landing/reference/marketing_plan.png" data-gal="prettyPhoto">Marketing Plan</a>
							</li>
							<li>
								<a href="{{ assetUrl }}images/landing/reference/packages.png" data-gal="prettyPhoto">Packages</a>
							</li>
							<li>
								<a href="{{ assetUrl }}images/landing/reference/product_packages.png" data-gal="prettyPhoto">Product Packages</a>
							</li>
							<li>
								<a href="{{ assetUrl }}images/landing/reference/direct_selling.png" data-gal="prettyPhoto">Direct Selling</a>
							</li>
							<li>
								<a href="{{ assetUrl }}images/landing/reference/unilevel.png" data-gal="prettyPhoto">Unilevel</a>
							</li>
							<li>
								<a href="{{ assetUrl }}images/landing/reference/sales_commission.png" data-gal="prettyPhoto">Sales Commission</a>
							</li>
							<li>
								<a href="{{ assetUrl }}images/landing/reference/override.png" data-gal="prettyPhoto">Override Sales Commission</a>
							</li>
						</ul>
					</div>
					<!-- End Quick links -->
					<!-- Quick Links -->
					<div class="col-md-3">
						<h3>Product Portfolio</h3>
						<ul class="quick-links">
							<li>
								<a href="{{ assetUrl }}images/landing/product_portfolio/body_cream.png" data-gal="prettyPhoto">JCA Wellness Body Cream</a>
							</li>
							<li>
								<a href="{{ assetUrl }}images/landing/product_portfolio/day_cream.png" data-gal="prettyPhoto">JCA Wellness Day Cream</a>
							</li>
							<li>
								<a href="{{ assetUrl }}images/landing/product_portfolio/night_cream.png" data-gal="prettyPhoto">JCA Wellness Night Cream</a>
							</li>
							<li>
								<a href="{{ assetUrl }}images/landing/product_portfolio/stem_cell_serum.png" data-gal="prettyPhoto">Swiss Apple Stem Cell Serum</a>
							</li>
							<li>
								<a href="{{ assetUrl }}images/landing/product_portfolio/stem_cell_soap.png" data-gal="prettyPhoto">Swiss Apple Stem Cell Soap with Glutathione and Collagen</a>
							</li>
						</ul>
					</div>
					<!-- End Quick links -->
					<!-- Quick Links -->
					<div class="col-md-2">
						<h3>Quick Links</h3>
						<ul class="quick-links">
							<li>
								<a href="#modal-company-policy" data-toggle="modal">Company Policy</a>
							</li>
							<li>
								<a href="#modal-dealers" data-toggle="modal">Dealers Policy</a>
							</li>
							<li>
								<a href="#modal-disclaimer" data-toggle="modal">Disclaimer</a>
							</li>
							<li>
								<a href="#modal-terms" data-toggle="modal">Terms &amp; Conditions</a>
							</li>
							<li>
								<a href="#modal-privacy" data-toggle="modal">Privacy Policy</a>
							</li>
							<li>
								<a href="#modal-product-policy" data-toggle="modal">Product Policy</a>
							</li>
						</ul>
					</div>
					<!-- End Quick links -->
					<!-- Social Links -->
					<div class="col-sm-2">
						<h3>Stay in Touch!</h3>
						<p>
							Follow us on our social networks!
						</p>
						<ul class="social">
							<li class="facebook">
								<a href="#"> <i class="fa fa-facebook"></i> </a>
							</li>
							<li class="twitter">
								<a href="#"> <i class="fa fa-twitter"></i> </a>
							</li>
						</ul>
					</div>
					<!--End Social Links  -->
				</div>
			</div>
		</section>
		<!-- End Footer Top -->

		<!-- Footer Bottom -->
		<footer class="footer footer-sub">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-sm-6">
						<p>
							&copy; JCA International Corporation. All Right Reserved
						</p>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer Bottom -->

		<!-- Company Policy modal -->
		<div class="modal fade" id="modal-company-policy">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="modal-title">Company Policy</h4>
					</div>
					<div class="modal-body">
						{{ login_attribute.company_policy | raw }}
					</div>
				</div>
			</div>
		</div><!-- end of Company Policy modal -->

		<!-- Disclaimer modal -->
		<div class="modal fade" id="modal-disclaimer">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="modal-title">Disclaimer</h4>
					</div>
					<div class="modal-body">
						{{ login_attribute.disclaimer | raw }}
					</div>
				</div>
			</div>
		</div><!-- end of Disclaimer modal -->

		<!-- Dealers Policy modal -->
		<div class="modal fade" id="modal-dealers">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="modal-title">Dealer's Policy</h4>
					</div>
					<div class="modal-body">
						{{ login_attribute.dealers_policy | raw }}
					</div>
				</div>
			</div>
		</div><!-- end of Dealers Policy modal -->

		<!-- Privacy modal -->
		<div class="modal fade" id="modal-privacy">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="modal-title">Privacy and Security</h4>
					</div>
					<div class="modal-body">
						{{ login_attribute.privacy_security | raw }}
					</div>
				</div>
			</div>
		</div><!-- end of Privacy modal -->

		<!-- Terms and Condition modal -->
		<div class="modal fade" id="modal-terms">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="modal-title">Terms and Conditions</h4>
					</div>
					<div class="modal-body">
						{{ login_attribute.terms_condition | raw }}
					</div>
				</div>
			</div>
		</div><!-- end of Terms and Condition modal -->

		<!-- Product Policy modal -->
		<div class="modal fade" id="modal-product-policy">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="modal-title">Product Policy</h4>
					</div>
					<div class="modal-body">
						{{ login_attribute.product_policy | raw }}
					</div>
				</div>
			</div>
		</div><!-- end of Product Policy modal -->

		<!-- Start Js Files -->
		<script type="text/javascript" src="{{assetUrl}}cleany/js/jquery-2.1.0.min.js"></script><!--jQuery is a Javascript library that greatly reduces the amount of code that you must write.-->
		<script type="text/javascript">
			window.jQuery || document.write('<script src="{{assetUrl}}cleany/js/jquery-2.1.0.min.js"><\/script>')
		</script>
		<script src="{{assetUrl}}cleany/js/bootstrap.min.js" type="text/javascript"></script><!--Packed with many functionalies such as carousel slider, responsivity, tabs, drop downs, buttons, and many other features-->
		<script src="{{assetUrl}}cleany/js/modernizr.min.js" type="text/javascript"></script><!--Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.-->
		<script src="{{assetUrl}}cleany/js/jquery.prettyPhoto.js" type="text/javascript" ></script><!-- Script for Lightbox Image  -->
		<script src="{{assetUrl}}cleany/js/custom.js" type="text/javascript"></script><!-- Script File containing all customizations  -->
		<!-- End Js Files  -->
	</body>
</html>