<!DOCTYPE html>
<html ng-app>
	<head>
		<title>JCA International Corporation</title>

		<link rel="apple-touch-icon" sizes="57x57" href="{{assetUrl}}images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{{assetUrl}}images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{assetUrl}}images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{assetUrl}}images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{assetUrl}}images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{assetUrl}}images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{assetUrl}}images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{assetUrl}}images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{assetUrl}}images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="{{assetUrl}}images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{assetUrl}}images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{assetUrl}}images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{assetUrl}}images/favicon/favicon-16x16.png">
		<link rel="manifest" href="{{assetUrl}}images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{assetUrl}}images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<link href="{{assetUrl}}lightblue/css/application.min.css" rel="stylesheet">
		<link href="{{assetUrl}}css/custom_enhance.css" rel="stylesheet">
		<link rel="shortcut icon" href="{{assetUrl}}lightblue/img/favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta charset="utf-8">
	</head>
	<body class="jca-body">
		<input type="hidden" id="base_url" value="{{ baseUrl() }}"/>

		<!-- common libraries. required for every page-->
		<script src="{{assetUrl}}lightblue/lib/jquery/dist/jquery.min.js"></script>
		<script src="{{assetUrl}}lightblue/lib/jquery-pjax/jquery.pjax.js"></script>
		<script src="{{assetUrl}}lightblue/lib/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
		<script src="{{assetUrl}}lightblue/lib/widgster/widgster.js"></script>
		<script src="{{assetUrl}}lightblue/lib/underscore/underscore.js"></script>

		{% block body %}{% endblock %}

		<script>
			$("#{{active_menu}}").addClass("active");
			$("#{{sub_active_menu}}").addClass("active");
		</script>
	</body>
</html>