{% extends 'master.twig' %}
{% block body %}

{#
<div class="logo">
	<h4><a href="/"><img style="max-width: 107px; max-height: auto;" src="{{ assetUrl }}/images/newjcalogo.png" /></h4>
</div>
#}

<div class="wrap">
	<div class="content container">
		<h2 class="page-title">Profile Details</h2>
		<div class="row">
			<div class="col-md-10">

				<section class="widget3">
					<header>
						<h4><i class="fa fa-align-left"></i> Inputs </h4>
					</header>
					<div class="box clearfix">
						<fieldset>
							<legend class="section2">
								Member Profile Details
							</legend>

							<div class="form-group">
								<div class="row">
									<label for="username" class="col-sm-4 control-label"></label>
									<div class="col-sm-7">
										<div class="account-picture">
											<img id="user-avatar" src="{{ assetUrl }}images/avatar/{{ user.img_file_name }}" alt="">
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<label for="last_name" class="col-sm-4 control-label">Reference ID</label>
									<div class="col-sm-7">
										<label class="control-label"><strong>{{ user.ban }}</strong></label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<label for="last_name" class="col-sm-4 control-label">Username</label>
									<div class="col-sm-7">
										<label class="control-label"><strong>{{ user.username }}</strong></label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<label for="last_name" class="col-sm-4 control-label">Email Address</label>
									<div class="col-sm-7">
										<label class="control-label"><strong>{{ user.email }}</strong></label>
									</div>
								</div>
							</div>

							<legend></legend>

							<div class="form-group">
								<div class="row">
									<label for="first_name" class="col-sm-4 control-label">First Name</label>
									<div class="col-sm-7">
										<label class="control-label" id="label-first_name"><strong>{{ user.first_name }}</strong></label>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<label for="middle_name" class="col-sm-4 control-label">Middle Name</label>
									<div class="col-sm-7">
										<label class="control-label" id="label-middle_name"><strong>{{ user.middle_name }}</strong></label>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<label for="last_name" class="col-sm-4 control-label">Last Name</label>
									<div class="col-sm-7">
										<label class="control-label" id="label-last_name"><strong>{{ user.last_name }}</strong></label>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<label for="gender" class="col-sm-4 control-label">Gender</label>
									<div class="col-sm-7">
										<label class="control-label" id="label-gender"><strong>{{ user.gender }}</strong></label>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<label for="mobile_number" class="col-sm-4 control-label">Mobile Number</label>
									<div class="col-sm-7">
										<label class="control-label"><strong>{{ user.country_code ~ user.mobile_number }}</strong></label>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<label for="address" class="col-sm-4 control-label">Address</label>
									<div class="col-sm-7">
										<label class="control-label"><strong>{{ user.address }}</strong></label>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="row">
									<label for="birthday" class="col-sm-4 control-label">Birthday</label>
									<div class="col-sm-7">
										<label class="control-label"><strong>{{ user.birthday|date("F d, Y") }}</strong></label>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
				</section>
			</div>
		</div>
	</div>

</div>

{% endblock %}
