{% block ext_css %}
<link href="{{assetUrl}}css/newbinarytree.css" rel="stylesheet">
<link href="{{assetUrl}}morris-chart/css/morris.css" rel="stylesheet" type="text/css" media="screen"/>
<style>
	.star-cont img {
		width: 100%;
	}

	.star-cont h3 {
		text-align: center;
		color: #FCE7AE;
	}

	.legend-cont {
		color: #FCE7AE;
		margin-top: 12px;
		background: black;
		padding: 12px 12px;
		background: rgb(34, 45, 50);
	}

	.legend-cont .col-xs-4 {
		text-align: center;
	}

	/* centered columns styles */
	.row-centered {
		text-align: center;
	}
	.col-centered {
		display: inline-block !important;
		float: none !important;
		/* reset the text-align */
		text-align: left;
		/* inline-block space fix */
		margin-right: -4px;
	}

	.tree li a {
		height: auto;
	}

	.geneology-label {
		width: 100px;
		height: auto;
		font-weight: bold;
		font-size: 14px;
		color: #FCE7AE;
		display: block;
		margin: 0 auto;
	}

	.chart-legend  li span {
		color: red !important;
		display: block;
		width: 12px;
		height: 12px;
		margin-right: 5px;
		list-style-type: none !important;
		display: inline-block;
	}
	.chart-legend ul {
		list-style: none;
	}

	.chart-legend {
		margin-left: 15px;
		margin-top: 10px;
	}
</style>
{% endblock %}

{% extends 'member/index.twig' %}
{% block body %}

<!-- Content Wrapper. Contains page content -->
<input type="hidden" id="userid" value="{{user.id}}" />
<input type="hidden" id="head_id" value="{{parent_user.id}}" />

<div class="robust-content content container-fluid">
	<div class="content-wrapper">
		<div class="content-header row"></div>
		<div class="content-body">

			<h2 class="page-title"><span class="fw-semi-bold">{{ title }}</span></h2>
			<section class="widget">
				<div class="row">
					<div class="col-lg-3 col-xs-3">
						<!-- small box -->
						<div class="small-box bg-gene">
							<div class="inner">
								<h3 id="dr_bonus"></h3>
								<p>
									DAILY PRODUCT PACKAGE REBATES (CASH)
								</p>
							</div>
						</div>
					</div><!-- ./col -->
					<div class="col-lg-3 col-xs-3">
						<!-- small box -->
						<div class="small-box bg-gene">
							<div class="inner">
								<h3 id="dr_gc"></h3>
								<p>
									DAILY PRODUCT PACKAGE REBATES (VOUCHER)
								</p>
							</div>
						</div>
					</div><!-- ./col -->
					<div class="col-lg-3 col-xs-3">
						<!-- small box -->
						<div class="small-box bg-gene">
							<div class="inner">
								<h3 id="pair_bonus"></h3>
								<p>
									DAILY TEAM MATCH SALES BONUS (CASH)
								</p>
							</div>
						</div>
					</div><!-- ./col -->
					<div class="col-lg-3 col-xs-3">
						<!-- small box -->
						<div class="small-box bg-gene">
							<div class="inner">
								<h3 id="pair_gc"></h3>
								<p>
									DAILY 5th TEAM MATCH SALES BONUS (VOUCHER)
								</p>
							</div>
						</div>
					</div><!-- ./col -->
				</div><!-- /.row -->

				<div class="row">
					<div class="col-lg-3 col-xs-3">
						<!-- small box -->
						<div class="small-box bg-gene">
							<div class="inner">
								<h3 id="heirarchy-left-count"></h3>
								<p>
									LEFT DOWNLINE COUNT
								</p>
							</div>
						</div>
					</div><!-- ./col -->
					<div class="col-lg-3 col-xs-3">
						<!-- small box -->
						<div class="small-box bg-gene">
							<div class="inner">
								<h3 id="heirarchy-right-count"></h3>
								<p>
									RIGHT DOWNLINE COUNT
								</p>
							</div>
						</div>
					</div><!-- ./col -->

					<div class="col-lg-3 col-xs-3">
						<!-- small box -->
						<div class="small-box bg-gene">
							<div class="inner">
								<h3 id="left-pv-points"></h3>
								<p>
									LEFT PV POINTS
								</p>
							</div>
						</div>
					</div><!-- ./col -->
					<div class="col-lg-3 col-xs-3">
						<!-- small box -->
						<div class="small-box bg-gene">
							<div class="inner">
								<h3 id="right-pv-points"></h3>
								<p>
									RIGHT PV POINTS
								</p>
							</div>
						</div>
					</div><!-- ./col -->
				</div><!-- /.row -->
			</section>

			<section class="widget">

				{% if flash.message %}
				{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
				<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					{{ flash.message }}
				</div>
				{% endif %}

				<div class="form-group">
					<div class="col-sm-3">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-search"></i></span>
							<input type="text" name="search_member" id="username" class="form-control" placeholder="Find member here">
						</div>
					</div>
				</div>

				<div class="center">
					<a href="#" onclick="loadTree('{{user.id}}')" id="back-to-head" >Back to head</a>
					<div class="tree"></div>
				</div>
			</section>

			<div class="body chart" style="background-color: white; color: black; padding: 17px;">
				<header>
					<h4><i class="fa fa-arrow-circle-o-right"></i> Pairing Stats</h4>
				</header>
				<!-- <canvas id="pairing-stats" height="200" width="600"></canvas> -->
				<div id="pairing-stats"></div>
				<div id="legendDiv" class="chart-legend"></div>
			</div>
		</div>
	</div>
</div>

<!-- Add Member modal -->
<div class="modal fade" id="member-registration-modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="modal-title">Member Registration</h4>
			</div>
			<div class="modal-body">
				{% include '@geneology/member_registration.twig' %}
			</div>
		</div>
	</div>
</div><!-- end of add product modal -->
{% endblock %}

{% block ext_js %}
<script src="{{assetUrl}}js/geneology.js"></script>
<script src="{{assetUrl}}morris-chart/js/raphael-min.js" type="text/javascript"></script>
<script src="{{assetUrl}}morris-chart/js/morris.min.js" type="text/javascript"></script>
<script>
	$(document).ready(function() {
		loadTree('{{user.id}}');
	});

	$("[name=search_member]").on("input", function() {
		if (this.value === "") {
			loadTree('{{user.id}}');
		} else {
			$.get("/api/validate/dr/" + this.value + "/{{user.id}}", function(response) {
				if (response.status === "success") {
					loadTree(response.user.id);
				}
			}).fail(function(error) {
				console.log("error", error);
			});
		}
	});

	function loadTree(user_id) {
		loadGeneology(user_id, function(response) {
			console.log("[ON MEMBER CLICKED]", response);
			if (response.uid !== "null") {
				loadTree(response.uid);
			} else {
				onModalRegistration(response.head_username, response.head_ref_code, response.position);
			}
		}, function(data) {
			console.log("[GENEOLOGY]", data);
			if (data.parent.id.toString() === '{{ user.id }}') {
				$("#heirarchy-left-count").text(data.heirarchy.LEFT);
				$("#heirarchy-right-count").text(data.heirarchy.RIGHT);
				$("#total_pairs").text(data.total_pair_count);
				$("#dr_bonus").text("" + data.current_DR_bonus.toLocaleString());
				$("#dr_gc").text(data.current_DR_GC_bonus);
				$("#pair_bonus").text("" + data.current_Pair_bonus.toLocaleString());
				$("#pair_gc").text(data.current_Pair_GC_bonus);
				$("#left-pv-points").text(data.pv_points.LEFT_PV_POINTS);
				$("#right-pv-points").text(data.pv_points.RIGHT_PV_POINTS);
			}

			if (data.parent.id.toString() !== '{{ user.id }}') {
				$("#back-to-head").show();
			} else {
				$("#back-to-head").hide();
			}

			//loadGraph(data.pairing_stats);
		});
	}

	function onModalRegistration(headUsername, headBan, position) {
		$('#geneology-registration').each(function() {
			this.reset();
		});
		$("#placement-head-username").val(headUsername);
		$("#placement-head-ban").val(headBan);

		$("#placement-head-username-label").text(headUsername);

		$("#placement-position").val(position);
		$("#placement-position-label").text(position);

		$("#member-registration-modal").modal("show");
	}


	$.get("/member/geneology/graph/pairing", function(response) {
		loadGraph(response);
	}).fail(function(error) {
		console.log("error", error);
	});

	function loadGraph(data) {
		data = JSON.parse(data);
		if (data !== null) {
			$("#pairing-stats").empty();
			Morris.Line({
				element : 'pairing-stats',
				data : data,
				parseTime : false,
				resize : true,
				xkey : 'day_word',
				ykeys : ['encoded_count', 'paired_count', 'unpaired_count'],
				labels : ['Encoded Count', 'Paired Count', 'Unpaired Count'],
				lineColors : ['#00B521', '#8EE89E', '#0B0BD9'],
				pointFillColors : ['#00B521', '#8EE89E', '#0B0BD9']
			});
			addLegend();
		}
	}

	function addLegend() {
		$("#legendDiv").empty();

		var legend = "<ul>";

		legend += "<li>";
		legend += "<span style='background: #00B521;'></span>";
		legend += "Encoded Count";
		legend += "</li>";

		legend += "<li>";
		legend += "<span style='background: #8EE89E;'></span>";
		legend += "Paired Count";
		legend += "</li>";

		legend += "<li>";
		legend += "<span style='background: #0B0BD9;'></span>";
		legend += "Unpaired Count";
		legend += "</li>";

		legend += "</ul>";

		$("#legendDiv").append($(legend));
	}
</script>
{% endblock %}
