<div class="box-body table-responsive">
	<table class="table fixed-layout">
		<tbody>
			<form method="post" action="{{ urlFor('register_new_member') }}" id="geneology-registration">
				<input type="hidden" name="placement" id="placement-position" />
				<input type="hidden" name="placement_head_ban" id="placement-head-ban" />
				<input type="hidden" name="placement_head_username" id="placement-head-username" />
				<tr>
					<td class="loan-label">Activation Code</td>
					<th>
					<input type="text" class="form-control" name="activation_code" placeholder="Enter Activation Code Here.." autofocus required />
					</th>
				</tr>
				<tr>
					<td class="loan-label">Username</td>
					<th>
					<input type="text" id="user-matrix-username" class="form-control" name="username" placeholder="account username" required/>
					</th>
				</tr>
				<tr>
					<td class="loan-label">Password</td>
					<th>
					<input type="text" class="form-control" name="password" placeholder="account password" min="5" maxlength="16" required/>
					</th>
				</tr>
				<tr>
					<td class="loan-label">Confirm Password</td>
					<th>
					<input type="text" class="form-control" name="confirm_password" placeholder="Re-type account password" min="5" maxlength="16" required/>
					</th>
				</tr>
				<tr>
					<td class="loan-label">Email</td>
					<th>
					<input type="text" id="user-matrix-email" class="form-control" name="email" placeholder="email address" required/>
					</th>
				</tr>
				<tr>
					<td class="loan-label">Mobile Number</td>
					<th>
					<div class="row">
						<div class="col-sm-6">
							{% include 'user/country_codes.twig' %}
						</div>
						<div class="col-sm-6">
							<input type="tel" id="user-matrix-mobile" class="form-control" name="mobile_number" placeholder="9101234567" required/>
						</div>
					</div></th>
				</tr>
				<tr>
					<td class="loan-label">First Name</td>
					<th>
					<input type="text" class="form-control" name="first_name" placeholder="first name" required/>
					</th>
				</tr>
				<tr>
					<td class="loan-label">Middle Name</td>
					<th>
					<input type="text" class="form-control" name="middle_name" placeholder="middle name" required/>
					</th>
				</tr>
				<tr>
					<td class="loan-label">Last Name</td>
					<th>
					<input type="text" class="form-control" name="last_name" placeholder="last name" required/>
					</th>
				</tr>
				<tr>
					<td class="loan-label">Sponsor</td>
					<th><label style="color: black; font-weight: bold;" class="input-sm">{{ user.username }}</th>
				</tr>
				<tr>
					<td class="loan-label">Placement Head</td>
					<th><label style="color: black;" id="placement-head-username-label" class="input-sm"></th>
				</tr>
				<tr>
					<td class="loan-label">Table Position</td>
					<th><label style="color: black;" id="placement-position-label" class="input-sm"> </th>
				</tr>
				<tr>
					<td></td>
					<th> {% if(toggle_registration == 1) %}
					<button class="btn btn-success btn-sm" type="submit" id="term-submit" onclick="this.form.submit(); this.disabled=true;">
						Register
					</button>
					<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
						Cancel
					</button> {% else %} <label style="color: red;">Sorry, Registration is not currently available. Please Contact System Administrator {% endif %} </th>
				</tr>
			</form>
		</tbody>
	</table>
</div>