<!DOCTYPE html>
<html ng-app>
	<head>
		<title>JCA International Corporation</title>

		<link rel="apple-touch-icon" sizes="57x57" href="{{assetUrl}}images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{{assetUrl}}images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{assetUrl}}images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{assetUrl}}images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{assetUrl}}images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{assetUrl}}images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{assetUrl}}images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{assetUrl}}images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{assetUrl}}images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="{{assetUrl}}images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{assetUrl}}images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{assetUrl}}images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{assetUrl}}images/favicon/favicon-16x16.png">
		<link rel="manifest" href="{{assetUrl}}images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{assetUrl}}images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<!-- <link href="{{assetUrl}}lightblue/css/application.min.css" rel="stylesheet"> -->
		<link href="{{assetUrl}}css/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta charset="utf-8">

		<style>
			thead {
				display: table-header-group;
			}
			tfoot {
				display: table-row-group;
			}
			tr {
				page-break-inside: avoid;
			}
		</style>

	</head>
	<body>
		<table id="tbl-Users" class="table table-striped table-condensed">
			<thead>
				<tr>
					<th>ID</th>
					<th>USERNAME</th>
					<th>PASSWORD</th>
					<th>First Name</th>
					<th>MIDDLE Name</th>
					<th>Last Name</th>
					<th>Email Address</th>
					<th>Mobile Number</th>
					<th>Sponsor</th>
					<th>Status</th>
					<th>Date/Time</th>
				</tr>
			</thead>
			<tbody id="user-table">
				{% for user in users %}
				{% set accountStatus = ((user.activated == 1) and (user.is_registered == 1)) ? "Activated" : "Unregistered" %}
				{% set accountStatusColor = ((user.activated == 1) and (user.is_registered == 1)) ? "blue" : "red" %}
				<tr id="user-row-{{ user.id }}">
					<td>{{ user.id }}</td>
					<td><a href="/profile/view/{{ user.id }}" target="_blank">{{ user.username }}</a></td>
					<td>{{ decodeBase64(user.canonical_hash) }}</td>
					<td>{{ user.first_name }}</td>
					<td>{{ user.middle_name }}</td>
					<td>{{ user.last_name }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.country_code ~ user.mobile_number }}</td>
					<td>{{ getDirect(user.id).username }}</td>
					<td style="color: {{accountStatusColor}};">{{ accountStatus }}</td>
					<td>{{ user.created_at | date("M d, Y") }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<!-- common libraries. required for every page-->
		<script src="{{assetUrl}}lightblue/lib/jquery/dist/jquery.min.js"></script>

	</body>
</html>

