<!DOCTYPE html>
<html ng-app>
	<head>
		<title>JCA International Corporation</title>

		<link rel="apple-touch-icon" sizes="57x57" href="{{assetUrl}}images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{{assetUrl}}images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{assetUrl}}images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{assetUrl}}images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{assetUrl}}images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{assetUrl}}images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{assetUrl}}images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{assetUrl}}images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{assetUrl}}images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="{{assetUrl}}images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{assetUrl}}images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{assetUrl}}images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{assetUrl}}images/favicon/favicon-16x16.png">
		<link rel="manifest" href="{{assetUrl}}images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{assetUrl}}images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

		<!-- <link href="{{assetUrl}}lightblue/css/application.min.css" rel="stylesheet"> -->
		<link href="{{assetUrl}}css/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta charset="utf-8">

		<style>
			thead {
				display: table-header-group;
			}
			tfoot {
				display: table-row-group;
			}
			tr {
				page-break-inside: avoid;
			}
		</style>
	</head>
	<body>
		<table id="table-generatedcodes-list" class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th colspan="12" style="letter-spacing: 25px; text-align: center; background-color: black; color: white; font-weight: bold;">PENDING PAYOUTS</th>
				</tr>
				<tr>
					<th>Transaction #</th>
					<th>Username</th>
					<th>Name</th>
					<th>Total Amount</th>
					<th>10% Withholding Tax</th>
					<th>Processing Fee</th>
					<th>Product Maintenance (GC)</th>
					<th>Encashment Amount</th>
					<th>Date Range</th>
					<th>Date/Time</th>
				</tr>
			</thead>
			<tbody>
				{% set total_amount = 0 %}

				{% for payout_request in payout_requests %}

				{% set total_amount = total_amount + payout_request.amount_encash %}
				<tr>
					<td>{{ payout_request.transaction_number }}</td>
					<td><a href="/profile/view/{{ payout_request.user_id }}" target="_blank">{{ getUserdetails(payout_request.user_id).username }}</a></td>
					<td>{{ getUserdetails(payout_request.user_id).first_name ~ " " ~ getUserdetails(payout_request.user_id).middle_name ~ " " ~ getUserdetails(payout_request.user_id).last_name }}</td>
					<td>{{ payout_request.total_amount|number_format(2, '.', ',') }}</td>
					<td style="color: red;">{{ (payout_request.total_amount * 0.10)|number_format(2, '.', ',') }}</td>
					<td style="color: red;">{{ 100|number_format(2, '.', ',') }}</td>
					<td>{{ ((payout_request.is_pm_deducted == 1) ? 1500 : 0)|number_format(2, '.', ',') }}</td>
					<td>{{ payout_request.amount_encash|number_format(2, '.', ',') }}</td>
					<td>{{ payout_request.dt_range }}</td>
					<td>{{ payout_request.created_at|date("M d, Y h:i a") }}</td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td>TOTAL</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td style="font-weight: bold;">{{ total_amount|number_format(2, '.', ',') }}</td>
					<td></td>
					<td></td>
				</tr>
			</tfoot>
		</table>

		<!-- common libraries. required for every page-->
		<script src="{{assetUrl}}lightblue/lib/jquery/dist/jquery.min.js"></script>

	</body>
</html>

