{% extends 'admin/index.twig' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="normalheader transition animated fadeIn">
	<div class="hpanel">
		<div class="panel-body">
			<a class="small-header-action" href="">
			<div class="clip-header">
				<i class="fa fa-arrow-up"></i>
			</div> </a>
			<h2 class="font-light m-b-xs"><i class="fa fa-fw fa-user-plus"></i> {{title}}</h2>
		</div>
	</div>
</div>

<!-- Main content -->
<div class="content animate-panel">
	{% if flash.message %}
	{% if flash.message_status == true %}
	<div class="alert alert-success alert-dismissable" style="margin-top: 25px">
		{% else %}
		<div class="alert alert-danger alert-dismissable" style="margin-top: 25px">
			{% endif %}
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">
				×
			</button>
			{{ flash.message }}
		</div>
		{% endif %}

		<div class="row">
			<div class="col-md-12">
				<div class="hpanel">
					<div class="panel-body">
						<form method="post" action="{{ urlFor('cashier_registration') }}" role="form" id="registration">
							<div class="row">
								<div class="form-group col-lg-6">
									<label>Username</label>
									<input type="text" id="register-username" maxlength="40" class="form-control" name="username" placeholder="enter your username.."/>
								</div>
								<div class="form-group col-lg-6">
									<label>Email Address</label>
									<input type="email" class="form-control" name="email" placeholder="enter your email here.."/>
								</div>
								<div class="form-group col-lg-12">
									<label>First Name</label>
									<input type="text" class="form-control" name="first_name" placeholder="enter your first name here.."/>
								</div>
								<div class="form-group col-lg-12">
									<label>Middle Name</label>
									<input type="text" class="form-control" name="middle_name" placeholder="enter your middle name here.."/>
								</div>
								<div class="form-group col-lg-12">
									<label>Last Name</label>
									<input type="text" class="form-control" name="last_name" placeholder="enter your last name here.."/>
								</div>
							</div>
							<div class="text-center">
								<button class="btn btn-success" type="submit" id="term-submit">
									Register
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /.content -->
	<script type="text/javascript">
		$(function() {
			$("#registration").validate({
				rules : {
					username : {
						required : true
					},
					email : {
						required : true
					},
					first_name : {
						required : true
					},
					middle_name : {
						required : true
					},
					last_name : {
						required : true
					}
				},
				messages : {
					username : {
						required : "Please enter your username"
					},
					email : {
						required : "Please enter your email address"
					},
					first_name : {
						required : "Please enter your first name"
					},
					middle_name : {
						required : "Please enter your middle name"
					},
					last_name : {
						required : "Please enter your last name"
					}
				},
				onfocusout : false,
				submitHandler : function(form) {
					submitForm(form, "term-submit");
				}
			});

		});
	</script>
	{% endblock %}

