{% extends 'cashier/index.twig' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="normalheader transition animated fadeIn">
	<div class="hpanel">
		<div class="panel-body">
			<a class="small-header-action" href="">
			<div class="clip-header">
				<i class="fa fa-arrow-up"></i>
			</div> </a>
			<h2 class="font-light m-b-xs">{{title}}</h2>
		</div>
	</div>
</div>

<!-- Main content -->
<div class="content animate-panel">
	<div class="hpanel">
		<div class="panel-heading">
			<div class="panel-tools">
				<a class="showhide"><i class="fa fa-chevron-up"></i></a>
			</div>
			List of Registered Users
		</div>
		<div class="panel-body">
			<div class="box-body table-responsive">
				<table class="table table-striped table-condensed" id="tbl-pre-registered">
					<thead>
						<tr>
							<th>#</th>
							<th>Business Account Number</th>
							<th>Username</th>
							<th>Email Address</th>
							<th>First Name</th>
							<th>Middle Name</th>
							<th>Last Name</th>
							<th>Created At</th>
						</tr>
					</thead>
					<tbody id="user-table">
						{% for user in users %}
						<tr id="user-row-{{ user.id }}">
							<td>{{ user.id }}</td>
							<td>{{ user.ban }}</td>
							<td>{{ user.username }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.first_name }}</td>
							<td>{{ user.middle_name }}</td>
							<td>{{ user.last_name }}</td>
							<td>{{ user.created_at }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div><!-- /.content -->
<script type="text/javascript">
	$(function() {
		var tblPreReg = $("#tbl-pre-registered").dataTable();
		tblPreReg.fnSort([[1, 'desc']]);
	}); 
</script>
{% endblock %}

