{% extends 'cashier/index.twig' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="normalheader transition animated fadeIn">
	<div class="hpanel">
		<div class="panel-body">
			<a class="small-header-action" href="">
			<div class="clip-header">
				<i class="fa fa-arrow-up"></i>
			</div> </a>
			<h2 class="font-light m-b-xs">{{title}}</h2>
			<a href="{{baseUrl()}}/cashier/unilevel/summarylogs" class="pull-right" style="margin-top: -42px; font-size: 30px; margin-right: 20px;"><i class="fa pe-7s-home"></i></a>
		</div>
	</div>
</div>

<!-- Main content -->
<div class="content animate-panel">
	{% if flash.message %}
	{% if flash.message_status == true %}
	<div class="alert alert-success alert-dismissable" style="margin-top: 25px">
		{% else %}
		<div class="alert alert-danger alert-dismissable" style="margin-top: 25px">
			{% endif %}
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">
				x
			</button>
			{{ flash.message }}
		</div>
		{% endif %}

		<div class="hpanel">
			<div class="panel-heading">
				<div class="panel-tools">
					<a class="showhide"><i class="fa fa-chevron-up"></i></a>
				</div>
				Purchase Logs
			</div>
			<div class="panel-body">
				<div class="box-body table-responsive">
					<table id="table-purchase-logs" class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<td>Control Number</td>
								<td>Member Username</td>
								<td>Product Code</td>
								<td>Product Name</td>
								<td>Product Description</td>
								<td>Product Price</td>
								<td>Amount Due</td>
								<td>Quantity</td>
								<td>Total PV</td>
								<td>Transaction Date</td>
							</tr>
						</thead>
						<tbody>
							{% for purchaseLog in purchaseLogs %}
							{% set product = getProduct(purchaseLog.product_code) %}
							<tr>
								<th>{{ purchaseLog.control_number }}</th>
								<th>{{ getUserdetails(purchaseLog.member_id).username }}</th>
								<th>{{ product.product_code }}</th>
								<th>{{ product.product_name }}</th>
								<th>{{ product.product_description }}</th>
								<th>₱ {{ product.price|number_format(0, '.', ',') }}</th>
								<th>₱ {{ (product.price * purchaseLog.quantity)|number_format(0, '.', ',') }}</th>
								<th>{{ purchaseLog.quantity }}</th>
								<th>{{ purchaseLog.total_pv }}</th>
								<th>{{ purchaseLog.created_at }}</th>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
	</div>

	<script>
		var logs = $("#table-purchase-logs").dataTable();
		logs.fnSort([[9, 'desc']]);
	</script>
	{% endblock %}
