<!DOCTYPE html>
<html lang="en" data-textdirection="LTR" class="loading">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="AC Solution">
		<title>JCA International Corporation - {{title}}</title>
		<link rel="apple-touch-icon" sizes="57x57" href="{{assetUrl}}images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{{assetUrl}}images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{assetUrl}}images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{assetUrl}}images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{assetUrl}}images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{assetUrl}}images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{assetUrl}}images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{assetUrl}}images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{assetUrl}}images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="{{assetUrl}}images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{assetUrl}}images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{assetUrl}}images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{assetUrl}}images/favicon/favicon-16x16.png">
		<link rel="manifest" href="{{assetUrl}}images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{assetUrl}}images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">
		<!-- BEGIN VENDOR CSS-->
		<link rel="stylesheet" href="{{assetUrl}}robust/css/vendors.min.css"/>
		<!-- BEGIN VENDOR CSS-->
		<!-- BEGIN Font icons-->
		<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/fonts/icomoon.css">
		<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/fonts/flag-icon-css/css/flag-icon.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<!-- END Font icons-->
		<!-- BEGIN Plugins CSS-->
		<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/css/plugins/sliders/slick/slick.css">
		<!-- END Plugins CSS-->

		<!-- BEGIN Vendor CSS-->
		<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/css/plugins/forms/icheck/icheck.css">
		<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/css/plugins/forms/icheck/custom.css">
		<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/css/plugins/extensions/unslider.css">
		<!-- END Vendor CSS-->
		<!-- BEGIN ROBUST CSS-->
		<link rel="stylesheet" href="{{assetUrl}}robust/css/app.min.css"/>
		<!-- END ROBUST CSS-->
		<!-- BEGIN Page Level CSS-->
		<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/css/components/weather-icons/climacons.min.css">
		<!-- END Page Level CSS-->
		<!-- BEGIN Custom CSS-->
		<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/css/style.css">
		<!-- END Custom CSS-->

		<style>
			.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .active > .nav-link:focus, .navbar-light .navbar-nav .active > .nav-link:hover, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.active:focus, .navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.open:focus, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .open > .nav-link:focus, .navbar-light .navbar-nav .open > .nav-link:hover {
				color: #dca707;
			}
			.header-navbar.navbar-dark, .header-navbar.navbar-dark.navbar-horizontal {
				background: #008c46;
			}
		</style>
		
		{% block ext_css %}{% endblock %}
	</head>
	<body data-open="hover" data-menu="horizontal-top-icon-menu" data-col="2-columns" class="horizontal-layout horizontal-top-icon-menu 2-columns ">
		<input type="hidden" id="base_url" value="{{ baseUrl() }}"/>

		<!-- START PRELOADER-->
		<div id="preloader-wrapper">
			<div id="loader">
				<div class="ball-scale-multiple loader-white">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="loader-section section-top bg-green"></div>
			<div class="loader-section section-bottom bg-green"></div>
		</div>
		<!-- END PRELOADER-->

		<!-- HEADER VIEW -->
		{% include 'header.twig' %}

		<!-- SIDEBAR VIEW -->
		{% include 'cashier/sidebar.twig' %}

		{% block body %}{% endblock %}

		<!-- <footer class="footer footer-dark">
		<p class="clearfix text-muted text-sm-center mb-0 px-2">
		<span class="float-md-left d-xs-block d-md-inline-block">Copyright  &copy; 2017 <a href="https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank" class="text-bold-800 grey darken-2">PIXINVENT </a>, All rights reserved. </span><span class="float-md-right d-xs-block d-md-inline-block">Hand-crafted & Made with <i class="icon-heart5 pink"></i></span>
		</p>
		</footer> -->

		<!-- BEGIN VENDOR JS-->
		<script src="{{assetUrl}}robust/js/vendors.min.js"></script>
		<!-- BEGIN VENDOR JS-->
		<!-- BEGIN PAGE VENDOR JS-->
		<script type="text/javascript" src="{{assetUrl}}robust/js/plugins/ui/jquery.sticky.js"></script>
		<!-- <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBDkKetQwosod2SZ7ZGCpxuJdxY3kxo5Po" type="text/javascript"></script> -->
		<script src="{{assetUrl}}robust/js/plugins/charts/gmaps.min.js" type="text/javascript"></script>
		<script src="{{assetUrl}}robust/js/plugins/forms/icheck/icheck.min.js" type="text/javascript"></script>
		<script src="{{assetUrl}}robust/js/plugins/extensions/jquery.knob.min.js" type="text/javascript"></script>
		<script src="{{assetUrl}}robust/js/plugins/extensions/unslider-min.js" type="text/javascript"></script>
		<!-- END PAGE VENDOR JS-->
		<!-- BEGIN ROBUST JS-->
		<script src="{{assetUrl}}robust/js/app.min.js"></script>
		<!-- END ROBUST JS-->

		<script>
			$(document).ready(function() {
				setTimeout(function() {
					$("#{{active_menu}}").addClass("active");
					$("#{{sub_active_menu}}").addClass("active");
				}, 2000);
			});
		</script>
		
		{% block ext_js %}{% endblock %}
	</body>
</html>