{% block ext_css %}
<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/css/plugins/tables/datatable/dataTables.bootstrap4.min.css">
{% endblock %}

{% extends 'admin/index.twig' %}
{% block body %}

<!-- Content Wrapper. Contains page content -->
<div class="robust-content content container-fluid">
	<div class="content-wrapper">

		{% if flash.message %}
		{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
		<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			{{ flash.message }}
		</div>
		{% endif %}

		<section class="widget">
			<div class="card">
				<div class="card-header">
					<a href="/admin/adminpayout/download/pdf/pending" class="btn btn-success btn-sm pull-right"><i class="fa fa-download" aria-hidden="true"></i> Download PDF</a>
					<h4 class="card-title">Payout Logs</h4>
				</div>
				<div class="card-body collapse in">
					<div class="card-block card-dashboard">
						<table id="table-payout-request" class="table table-striped table-condensed">
							<thead>
								<tr>
									<th>Transaction #</th>
									<th>Username</th>
									<th>Name</th>
									<th>Total Amount</th>
									<th>10% Withholding Tax</th>
									<th>Processing Fee</th>
									<th>Product Maintenance (GC)</th>
									<th>Encashment Amount</th>
									<th>Date Range</th>
									<th>Status</th>
									<th>Action</th>
									<th>Date/Time</th>
								</tr>
							</thead>
							<tbody>
								{% set total_amount = 0 %}

								{% for payout_request in payout_requests %}
								{% set status = (payout_request.status == 0) ? "Pending" : "Approved" %}

								{% set total_amount = total_amount + payout_request.amount_encash %}
								<tr>
									<td>{{ payout_request.transaction_number }}</td>
									<td><a href="/profile/view/{{ payout_request.user_id }}" target="_blank">{{ getUserdetails(payout_request.user_id).username }}</a></td>
									<td>{{ getUserdetails(payout_request.user_id).first_name ~ " " ~ getUserdetails(payout_request.user_id).middle_name ~ " " ~ getUserdetails(payout_request.user_id).last_name }}</td>
									<td>{{ payout_request.total_amount|number_format(2, '.', ',') }}</td>
									<td style="color: red;">{{ (payout_request.total_amount * 0.10)|number_format(2, '.', ',') }}</td>
									<td style="color: red;">{{ 100|number_format(2, '.', ',') }}</td>
									<td>{{ ((payout_request.is_pm_deducted == 1) ? 1500 : 0)|number_format(2, '.', ',') }}</td>
									<td>{{ payout_request.amount_encash|number_format(2, '.', ',') }}</td>
									<td>{{ payout_request.dt_range }}</td>
									<td>{{ status }}</td>
									<td>
									<form method="post" action="{{ urlFor('admin_approve_payout') }}" id="form-submit-{{payout_request.transaction_number}}">
										<input type="hidden" name="trans_code" value="{{ payout_request.transaction_number }}" />
										<button type="button" onclick="ApproveRequest('{{ payout_request.transaction_number }}')" class="btn btn-success btn-sm">
											Approve
										</button>
									</form></td>
									<td>{{ payout_request.created_at|date("M d, Y h:i a") }}</td>
								</tr>
								{% endfor %}
							</tbody>
							{#
							<tfoot>
								<tr>
									<td>TOTAL</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td style="font-weight: bold;">{{ total_amount|number_format(2, '.', ',') }}</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tfoot>
							#}
						</table>
					</div>
				</div>
			</div>
		</section>

		<section class="widget">
			<div class="card">
				<div class="card-header">
					<div class="navbar-container content container-fluid pull-right">
						<div id="navbar-mobile" class="collapse navbar-toggleable-sm">
							<ul class="nav navbar-nav">
								<li class="dropdown dropdown-user nav-item">
									<a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link btn btn-success btn-sm"><i class="fa fa-download" aria-hidden="true"></i> Download PDF</a>
									<div class="dropdown-menu dropdown-menu-right">
										<div class="dropdown-divider"></div>
										{#
										<a href="/admin/adminpayout/download/pdf/approved/daily" class="dropdown-item">Daily</a>
										#}
										<a href="/admin/adminpayout/download/pdf/approved/weekly" class="dropdown-item">Weekly</a>
										<a href="/admin/adminpayout/download/pdf/approved/monthly" class="dropdown-item">Monthly</a>
										<a href="/admin/adminpayout/download/pdf/approved/all" class="dropdown-item">All</a>
									</div>
								</li>
							</ul>
						</div>
					</div>

					<h4 class="card-title">Payout History</h4>
				</div>
				<div class="card-body collapse in">
					<div class="card-block card-dashboard">
						<table id="table-payout-approved" class="table table-striped table-condensed">
							<thead>
								<tr>
									<th>Transaction #</th>
									<th>Username</th>
									<th>Name</th>
									<th>Total Amount</th>
									<th>10% Withholding Tax</th>
									<th>Processing Fee</th>
									<th>Product Maintenance (GC)</th>
									<th>Encashment Amount</th>
									<th>Date Range</th>
									<th>Status</th>
									<th>Check Status</th>
									<th>Approved By</th>
									<th>Date/Time</th>
								</tr>
							</thead>
							<tbody>
								{% set total_amount = 0 %}

								{% for payout_request in approved_payout_requests %}
								{% set status = (payout_request.status == 0) ? "Pending" : "Approved" %}
								{% set check_status = (payout_request.check_issued == 1) ? "Check Issued" : "For Check Generation" %}

								{% set total_amount = total_amount + payout_request.amount_encash %}
								<tr>
									<td>{{ payout_request.transaction_number }}</td>
									<td><a href="/profile/view/{{ payout_request.user_id }}" target="_blank">{{ getUserdetails(payout_request.user_id).username }}</a></td>
									<td>{{ getUserdetails(payout_request.user_id).first_name ~ " " ~ getUserdetails(payout_request.user_id).middle_name ~ " " ~ getUserdetails(payout_request.user_id).last_name }}</td>
									<td>{{ payout_request.total_amount|number_format(2, '.', ',') }}</td>
									<td>{{ (payout_request.total_amount * 0.10)|number_format(2, '.', ',') }}</td>
									<td>{{ 100|number_format(2, '.', ',') }}</td>
									<td>{{ ((payout_request.is_pm_deducted == 1) ? 1500 : 0)|number_format(2, '.', ',') }}</td>
									<td>{{ payout_request.amount_encash|number_format(2, '.', ',') }}</td>
									<td>{{ payout_request.dt_range }}</td>
									<td>{{ status }}</td>
									<td>{{ check_status }}</td>
									<td>{{ getUserdetails(payout_request.approved_by).username }}</td>
									<td>{{ payout_request.updated_at|date("M d, Y h:i a") }}</td>
								</tr>
								{% endfor %}
							</tbody>
							{#
							<tfoot>
								<tr>
									<td>TOTAL</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td style="font-weight: bold;">{{ total_amount|number_format(2, '.', ',') }}</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tfoot>
							#}
						</table>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>
{% endblock %}

{% block ext_js %}
<script src="{{assetUrl}}robust/js/plugins/tables/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{assetUrl}}robust/js/plugins/tables/datatable/dataTables.bootstrap4.min.js" type="text/javascript"></script>
<script>
	$(document).ready(function() {
		$("#table-payout-request").dataTable({
			"scrollX" : true,
			"aoColumns" : [null, null, {
				"sWidth" : "300px"
			}, null, null, null, null, null, {
				"sWidth" : "250px"
			}, null, null, {
				"sWidth" : "200px"
			}]
		});

		$("#table-payout-approved").dataTable({
			"scrollX" : true
		});
	}); 
	function ApproveRequest(trans_code) {
		var r = confirm("Are you sure do you want to approve this request?");
		if (r == true) {
			$('#form-submit-' + trans_code).submit();
		}
	}
</script>
{% endblock %}