<!DOCTYPE html>
<html lang="en" data-textdirection="LTR" class="loading">

	<!-- Mirrored from demo.pixinvent.com/robust-admin/ltr/horizontal-top-icon-menu-template/login-simple.html by HTTrack Website Copier/3.x [XR&CO'2013], Tue, 14 Mar 2017 03:58:52 GMT -->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<meta name="description" content="Robust admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
		<meta name="keywords" content="admin template, robust admin template, dashboard template, flat admin template, responsive admin template, web app">
		<meta name="author" content="PIXINVENT">
		<title>Login - JCA International Corporation</title>
		<link rel="apple-touch-icon" sizes="57x57" href="{{assetUrl}}images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{{assetUrl}}images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{assetUrl}}images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{assetUrl}}images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{assetUrl}}images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{assetUrl}}images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{assetUrl}}images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{assetUrl}}images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{assetUrl}}images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="{{assetUrl}}images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{assetUrl}}images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{assetUrl}}images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{assetUrl}}images/favicon/favicon-16x16.png">
		<link rel="manifest" href="{{assetUrl}}images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{assetUrl}}images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">
		<!-- BEGIN VENDOR CSS-->
		<link rel="stylesheet" href="{{assetUrl}}robust/css/vendors.min.css"/>
		<!-- BEGIN VENDOR CSS-->
		<!-- BEGIN Font icons-->
		<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/fonts/icomoon.css">
		<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/fonts/flag-icon-css/css/flag-icon.min.css">
		<!-- END Font icons-->
		<!-- BEGIN Plugins CSS-->
		<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/css/plugins/sliders/slick/slick.css">
		<!-- END Plugins CSS-->

		<!-- BEGIN Vendor CSS-->
		<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/css/plugins/forms/icheck/icheck.css">
		<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/css/plugins/forms/icheck/custom.css">
		<!-- END Vendor CSS-->
		<!-- BEGIN ROBUST CSS-->
		<link rel="stylesheet" href="{{assetUrl}}robust/css/app.min.css"/>
		<!-- END ROBUST CSS-->
		<!-- BEGIN Page Level CSS-->
		<!-- END Page Level CSS-->
		<!-- BEGIN Custom CSS-->
		<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/css/style.css">
		<!-- END Custom CSS-->

		<style>
			.btn-primary {
				border-color: #024829;
				background-color: #047141;
				color: #FFF;
			}
			.btn-primary:hover {
				border-color: #027944;
				background-color: #07b165;
				color: #FFF !important;
			}
			.btn-primary.active, .btn-primary:active, .open > .btn-primary.dropdown-toggle {
				color: #fff;
				background-color: #012716;
				border-color: #011f11;
				background-image: none;
			}
			.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
				color: #fff;
				background-color: #014225;
				border-color: #014225;
			}
			.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .btn-primary.dropdown-toggle.focus, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle:hover {
				color: #fff;
				background-color: #013820;
				border-color: #024024;
			}
			a {
				color: #9e6314;
				text-decoration: none;
			}
		</style>
	</head>
	<body data-open="hover" data-menu="horizontal-top-icon-menu" data-col="1-column" class="horizontal-layout horizontal-top-icon-menu 1-column  blank-page blank-page">
		<!-- START PRELOADER-->

		<div id="preloader-wrapper">
			<div id="loader">
				<div class="ball-scale-multiple loader-white">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="loader-section section-top bg-green"></div>
			<div class="loader-section section-bottom bg-green"></div>
		</div>

		<!-- END PRELOADER-->
		<!-- ////////////////////////////////////////////////////////////////////////////-->
		<div class="robust-content content container-fluid">
			<div class="content-wrapper">
				<div class="content-header row"></div>
				<div class="content-body">
					<section class="flexbox-container">
						<div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1  box-shadow-2 p-0">
							<div class="card border-grey border-lighten-3 m-0">
								<div class="card-header no-border">
									<div class="card-title text-xs-center">
										<div class="p-1"><img src="{{ assetUrl }}/images/jcaLonglogo.png" style="width: 300px; height: auto;" alt="branding logo">
										</div>
									</div>
									<h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>Login with JCA</span></h6>
								</div>
								<div class="card-body collapse in">
									<div class="card-block">
										<form class="form-horizontal form-simple" action="{{ urlFor('dologin') }}" method="post">
											{% if flash.message %}
											{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
											<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
												{{ flash.message }}
											</div>
											{% endif %}

											<fieldset class="form-group has-feedback has-icon-left mb-0">
												<input type="text" class="form-control form-control-lg input-lg" name="username" id="user-name" placeholder="Your Username" required>
												<div class="form-control-position">
													<i class="icon-head"></i>
												</div>
											</fieldset>
											<fieldset class="form-group has-feedback has-icon-left">
												<input type="password" class="form-control form-control-lg input-lg" name="password" id="user-password" placeholder="Enter Password" required>
												<div class="form-control-position">
													<i class="icon-key3"></i>
												</div>
											</fieldset>
											{#
											<fieldset class="form-group row">
												<div class="col-md-6 col-xs-12 text-xs-center text-md-left">
													<fieldset>
														<input type="checkbox" id="remember-me" class="chk-remember">
														<label for="remember-me"> Remember Me</label>
													</fieldset>
												</div>
												<div class="col-md-6 col-xs-12 text-xs-center text-md-right">
													<a href="recover-password.html" class="card-link">Forgot Password?</a>
												</div>
											</fieldset>
											#}
											<button type="submit" class="btn btn-primary btn-lg btn-block">
												<i class="icon-unlock2"></i> Login
											</button>
										</form>
									</div>
								</div>
								<div class="card-footer">
									<div class="">
										{#
										<p class="float-sm-left text-xs-center m-0">
											<a href="/registration/mobile/verification" class="card-link">Activate Account</a>
										</p>
										#}
										<p class="float-sm-right text-xs-center m-0">
											New to JCA? <a href="/registration" class="card-link">Sign Up</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</section>

				</div>
			</div>
		</div>
		<!-- ////////////////////////////////////////////////////////////////////////////-->

		<!-- BEGIN VENDOR JS-->
		<script src="{{assetUrl}}robust/js/vendors.min.js"></script>
		<!-- BEGIN VENDOR JS-->
		<!-- BEGIN PAGE VENDOR JS-->
		<script type="text/javascript" src="{{assetUrl}}robust/js/plugins/ui/jquery.sticky.js"></script>
		<script type="text/javascript" src="{{assetUrl}}robust/js/plugins/charts/jquery.sparkline.min.js"></script>
		<script src="{{assetUrl}}robust/js/plugins/forms/icheck/icheck.min.js" type="text/javascript"></script>
		<script src="{{assetUrl}}robust/js/plugins/forms/validation/jqBootstrapValidation.js" type="text/javascript"></script>
		<!-- END PAGE VENDOR JS-->
		<!-- BEGIN ROBUST JS-->
		<script src="{{assetUrl}}robust/js/app.min.js"></script>
		<!-- END ROBUST JS-->
		<!-- BEGIN PAGE LEVEL JS-->
		<script type="text/javascript" src="{{assetUrl}}robust/js/components/ui/breadcrumbs-with-stats.js"></script>
		<script src="{{assetUrl}}robust/js/components/forms/form-login-register.js" type="text/javascript"></script>
		<!-- END PAGE LEVEL JS-->
	</body>
</html>
