{% extends 'master.twig' %}
{% block body %}

<div class="content container">
	<h2 class="page-title">{{ title }}</h2>
	<div class="row">
		<div class="col-md-10">

			<section class="widget">
				<header>
					<h4><i class="fa fa-align-left"></i> Inputs </h4>
				</header>
				<div class="body">
					<form method="post" action="{{ urlFor('verify_mobile_activation') }}" class="form-horizontal">
						<fieldset>
							{% if flash.message %}
							{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
							<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								{{ flash.message }}
							</div>
							{% endif %}

							<legend class="section">
								Mobile Activation Code
							</legend>
							<div class="form-group">
								<label for="activation_code" class="col-sm-4 control-label">Enter Mobile Activation Code</label>
								<div class="col-sm-7">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-mobile"></i></span>
										<input type="text" name="activation_code" id="activation_code" class="form-control" maxlength="5" autofocus required>
									</div>
									<a href="{{ urlFor('resend_activationcode') }}">Resend Mobile Activation Code</a>
								</div>
							</div>
						</fieldset>
						<div class="form-actions">
							<div class="row">
								<div class="col-sm-offset-4 col-sm-7">
									<div class="btn-toolbar">
										<button type="submit" class="btn btn-primary">
											Submit
										</button>
										<a href="{{ urlFor('logout') }}" class="btn btn-inverse"> Cancel </a>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>
</div>

{% endblock %}
