{% extends 'master.twig' %}
{% block body %}
<div class="color-line"></div>
<div class="register-container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center m-b-md">
				<h3>{{ title }}</h3>
			</div>
			<div class="hpanel">
				<div class="panel-body">
					<div class="box-body table-responsive">
						<table class="table table-hover cash-flow">
							<tbody>
								<tr class="dash-row">
									<td>Account Number</td>
									<th colspan="3">{{user.ban}}</th>
								</tr>
								<tr class="dash-row">
									<td>Username</td>
									<th colspan="3">{{user.username}}</th>
								</tr>
								{% if (user.is_password_changed == 0) %}
								<tr class="dash-row">
									<td>Password <small>(default)</small></td>
									<th colspan="3">password</th>
								</tr>
								{% endif %}
								<tr class="dash-row">
									<td>Email Address</td>
									<th colspan="3">{{user.email}}</th>
								</tr>
								<tr class="dash-row">
									<td>First Name</td>
									<th colspan="3">{{user.first_name}}</th>
								</tr>
								<tr class="dash-row">
									<td>Middle Name</td>
									<th colspan="3">{{user.middle_name}}</th>
								</tr>
								<tr class="dash-row">
									<td>Last Name</td>
									<th colspan="3">{{user.last_name}}</th>
								</tr>
								<tr class="dash-row">
									<td>Account Created</td>
									<th colspan="3">{{user.created_at|date('M d, Y h:m a')}}</th>
								</tr>
							</tbody>
						</table>
					</div><!-- /.box-body -->
					<button onclick="onConfirm()" class="btn btn-primary pull-right">
						Ok
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	.register-container {
	  background: -webkit-linear-gradient(0deg, rgb(205, 174, 89) 0, rgba(251,223,147,1) 1%, rgba(251,223,147,1) 5%, #f2c759 20%, rgba(252,205,77,1) 62%, rgba(252,234,187,1) 81%, rgba(252,205,77,1) 91%, rgba(252,205,77,1) 100%);
	  background: -moz-linear-gradient(90deg, rgb(205, 174, 89) 0, rgba(251,223,147,1) 1%, rgba(251,223,147,1) 5%, #f2c759 20%, rgba(252,205,77,1) 62%, rgba(252,234,187,1) 81%, rgba(252,205,77,1) 91%, rgba(252,205,77,1) 100%);
	  background: linear-gradient(90deg, rgb(205, 174, 89) 0, rgba(251,223,147,1) 1%, rgba(251,223,147,1) 5%, #f2c759 20%, rgba(252,205,77,1) 62%, rgba(252,234,187,1) 81%, rgba(252,205,77,1) 91%, rgba(252,205,77,1) 100%);
	  background-position: 50% 50%;
	  color: black;
	  padding-top:12px;
	  margin-top:5%;
	  padding-bottom:12px;
	}
</style>
<script>
	function onConfirm() {
		$.confirm({
			title : "Account Confirmation",
			text : 'Do you want to activate your account?',
			confirm : function() {
				var form = document.createElement("form");
				form.setAttribute('method', "post");
				form.setAttribute('action', "{{ urlFor('dologin') }}");

				var username = document.createElement("input");
				username.setAttribute('type', "hidden");
				username.setAttribute('name', "username");
				username.setAttribute('value', "{{user.username}}");
				form.appendChild(username);
				
				var password = document.createElement("input");
				password.setAttribute('type', "hidden");
				password.setAttribute('name', "password");
				password.setAttribute('value', "password");
				form.appendChild(password);
				
				form.submit();
			},
			cancel : function() {
				window.location.href = "{{baseUrl()}}{{redirect}}";
			},
			confirmButton : "Activate Account",
			cancelButton : "Back to Registration",
		});
	}
</script>
{% endblock %}
