<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Error</title>
		\
	</head>

	<style>
		.error {
			display: inline-block;
			background: #00AFF9 url(http://goo.gl/srixjj) center/cover no-repeat;
			height: 100vh;
			margin: 0;
			color: white;
		}

		h1 {
			margin: .8em 3rem;
			font: 4em Roboto;
		}

		p {
			display: inline-block;
			margin: .2em 3rem;
			font: 2em Roboto;
		}

	</style>

	<body class="error">

		<h1>Whoops!</h1>
		<p>
			System Maintenance
		</p>

	</body>
</html>
