{% extends 'cashier/index.twig' %}
{% block body %}

<!-- Content Wrapper. Contains page content -->
<div class="robust-content content container-fluid">
	<div class="content-wrapper">

		<section class="widget">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Profile Details</h4>
				</div>
				<div class="card-body collapse in">
					<div class="card-block card-dashboard">
						<form method="post" action="{{ urlFor('cashier_update_profile') }}" id="registration">
							<div class="row">
								<input type="hidden" name="username" value="{{ user.username }}" />
								<div class="form-group col-lg-6">
									<label>Username (must not contain numbers)</label>
									<input value="{{ user.username }}" type="text" id="register-username" maxlength="40" class="form-control" disabled/>
								</div>
								<div class="form-group col-lg-6">
									<label>Email Address</label>
									<input value="{{ user.email }}" type="email" class="form-control" name="email" placeholder="enter your email here.."/>
								</div>
								<div class="form-group col-lg-12">
									<label>First Name</label>
									<input value="{{ user.first_name }}" type="text" class="form-control" name="first_name" placeholder="enter your first name here.."/>
								</div>
								<div class="form-group col-lg-12">
									<label>Middle Name</label>
									<input value="{{ user.middle_name }}" type="text" class="form-control" name="middle_name" placeholder="enter your middle name here.."/>
								</div>
								<div class="form-group col-lg-12">
									<label>Last Name</label>
									<input value="{{ user.last_name }}" type="text" class="form-control" name="last_name" placeholder="enter your last name here.."/>
								</div>
							</div>
							<div class="text-center">
								<button class="btn btn-success" type="submit" id="term-submit">
									Update
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

		{#
		<div class="hpanel">
			<div class="panel-heading">
				<div class="panel-tools">
					<a class="showhide"><i class="fa fa-chevron-up"></i></a>
				</div>
				Update Avatar
			</div>
			<div class="panel-body">
				<form method="post" action="{{ urlFor('cashier_upload_avatar') }}" enctype="multipart/form-data">
					<div class="questionUpload btn">
						<input type="file" name="img_avatar_upload" onchange="this.form.submit()" class="upload"/>
						<div class="question-upload-text">
							<p id="file_name">
								Upload Avatar
							</p>
						</div>
					</div>
				</form>
			</div>
		</div>
		#}

		<section class="widget">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Change Password</h4>
				</div>
				<div class="card-body collapse in">
					<div class="card-block card-dashboard">
						<form method="post" action="{{ urlFor('cashier_change_password') }}" id="change-password">
							<div class="row">
								<div class="form-group col-lg-12">
									<label>New Password</label>
									<input type="password" id="password" class="form-control" name="password" placeholder="enter your new password here.."/>
								</div>
								<div class="form-group col-lg-12">
									<label>Confirm Password</label>
									<input type="password" class="form-control" name="confirm" placeholder="re-enter your new password here.."/>
								</div>
							</div>
							<div class="text-center">
								<button class="btn btn-success" type="submit" id="change-password-submit">
									Update Password
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		
	</div>
</div><!-- /.content -->
{% endblock %}

{% block ext_js %}
<script src="{{assetUrl}}js/jquery.validate.min.js"></script>
<script type="text/javascript">
	$(function() {
		$("#registration").validate({
			rules : {
				username : {
					required : true
				},
				email : {
					required : true
				},
				first_name : {
					required : true
				},
				middle_name : {
					required : true
				},
				last_name : {
					required : true
				}
			},
			messages : {
				username : {
					required : "Please enter your username"
				},
				email : {
					required : "Please enter your email address"
				},
				first_name : {
					required : "Please enter your first name"
				},
				middle_name : {
					required : "Please enter your middle name"
				},
				last_name : {
					required : "Please enter your last name"
				}
			},
			onfocusout : false,
			submitHandler : function(form) {
				submitForm(form, "term-submit");
			}
		});

		$("#change-password").validate({
			rules : {
				password : {
					required : true
				},
				confirm : {
					required : true,
					equalTo : "#password"
				}
			},
			messages : {
				password : {
					required : "Please enter your new password"
				},
				confirm : {
					required : "Please confirm your new password",
					equalTo : "Password did not match"
				}
			},
			onfocusout : false,
			submitHandler : function(form) {
				submitForm(form, "change-password-submit");
			}
		});

	}); 
</script>
{% endblock %}
