{% block ext_css %}
<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/css/plugins/tables/datatable/dataTables.bootstrap4.min.css">
{% endblock %}

{% extends 'admin/index.twig' %}
{% block body %}

<!-- Content Wrapper. Contains page content -->
<div class="robust-content content container-fluid">
	<div class="content-wrapper">

		<section class="widget">
			<a href="/admin/download/pdf/member/list" class="btn btn-success btn-sm">Download as PDF</a>
			<legend></legend>
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">{{ title }} <small id="user-label"></small></h4>
				</div>
				<div class="card-body collapse in">
					<div class="card-block card-dashboard">
						<table id="tbl-Users" class="table table-striped table-condensed">
							<thead>
								<tr>
									<th>ID</th>
									<th>USERNAME</th>
									<th>PASSWORD</th>
									<th>First Name</th>
									<th>MIDDLE Name</th>
									<th>Last Name</th>
									<th>Email Address</th>
									<th>Mobile Number</th>
									<th>Sponsor</th>
									<th>Status</th>
									<th>Date/Time</th>
									{#
									<th class="text-center">Action</th>
									#}
								</tr>
							</thead>
							<tbody id="user-table">
								{% for user in users %}
								{% set accountStatus = ((user.activated == 1) and (user.is_registered == 1)) ? "Activated" : "Unregistered" %}
								{% set accountStatusColor = ((user.activated == 1) and (user.is_registered == 1)) ? "blue" : "red" %}
								<tr id="user-row-{{ user.id }}">
									<td>{{ user.id }}</td>
									<td><a href="/profile/view/{{ user.id }}" target="_blank">{{ user.username }}</a></td>
									<td>{{ decodeBase64(user.canonical_hash) }}</td>
									<td>{{ user.first_name }}</td>
									<td>{{ user.middle_name }}</td>
									<td>{{ user.last_name }}</td>
									<td>{{ user.email }}</td>
									<td>{{ user.country_code ~ user.mobile_number }}</td>
									<td>{{ getDirect(user.id).username }}</td>
									<td style="color: {{accountStatusColor}};">{{ accountStatus }}</td>
									<td>{{ user.created_at | date("Y-m-d") }}</td>
									{#
									<td class="text-center"><a data-id="{{ user.id }}" class="btn btn-xs btn-primary btn-user-edit" href="#"><i class="fa fa-edit fa-fw"></i>Edit</a><a data-id="{{ user.id }}" class="btn btn-xs btn-danger btn-user-delete" href="#"><i class="fa fa-times fa-fw"></i>Remove</a></td>
									#}
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</section>

	</div>
</div>

{% endblock %}

{% block ext_js %}
<script src="{{assetUrl}}robust/js/plugins/tables/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{assetUrl}}robust/js/plugins/tables/datatable/dataTables.bootstrap4.min.js" type="text/javascript"></script>

<script>
	var members = $("#tbl-Users").dataTable({
		"scrollX" : true
	});
	members.fnSort([[10, "desc"]]);

	function commsionModalShow(userId) {
		$("#commission-user-id").val(userId);
		$("#commission-modal").modal('show');
	}
</script>
{% endblock %}
