{% extends 'admin/index.twig' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header module-head">
		<h1>{{ title }}{{ _date|date('M d, Y') }}</h1>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="box box-success box-solid">
			<div class="box-body with-border">
				<table id="table-member-list" class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>USERNAME</th>
							<th>DATE CREATED</th>
							<th>TIME CREATED</th>
							<th>FULL NAME</th>
						</tr>
					</thead>
					<tbody>
						{% for _user in users %}
						<tr>
							<td>{{ _user.username }}</td>
							<td>{{ _user.created_at|date('Y-m-d') }}</td>
							<td>{{ _user.created_at|date('h:i a') }}</td>
							<td>{{ _user.first_name }} {{ _user.last_name }}</td>
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th>USERNAME</th>
							<th>DATE CREATED</th>
							<th>TIME CREATED</th>
							<th>FULL NAME</th>
						</tr>
					</tfoot>
				</table>
			</div><!-- /.box-body -->
		</div><!-- /.box -->
	</section><!-- /.content -->
	{% endblock %}
