{% extends 'admin/index.twig' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header module-head">
		<h1>{{ title }}</h1>
	</section>

	<!-- Main content -->
	<section class="content">

		<div class="box box-success box-solid">
			<div class="box-body with-border">
				<table id="table-member-list" class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th>DATE</th>
							<th>TOTAL</th>
							<th>GRAPH</th>
						</tr>
					</thead>
					<tbody>
						{% for index, user in users %}
						<tr>
							<td>{{ user.date }}</td>
							<td>{{ user.count }}</td>
							<form id="encoded-accounts{{index}}" action="{{ urlFor('encoded_accounts') }}" method="post">
								<input type="hidden" name="date" value="{{ user.date }}" />
								<td><a href="javascript: submitForm{{index}}();" class="fa fa-search"></a>
								<div class="progress">
									<div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="{{ user.count }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ user.count }}%">
										<span class="sr-only">{{ user.count }}% Complete (success)</span>
									</div>
								</div></td>
							</form>
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<th>DATE</th>
							<th>ENCODED</th>
							<th>GRAPH</th>
						</tr>
					</tfoot>
				</table>
			</div><!-- /.box-body -->
		</div><!-- /.box -->

	</section><!-- /.content -->
	<script>
		{% for index, user in users %}
		function submitForm{{index}}() {
			$('#encoded-accounts{{index}}').submit();
		}
		{% endfor %}
	</script>
	{% endblock %}
