{% block ext_css %}
<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/css/plugins/tables/datatable/dataTables.bootstrap4.min.css">
{% endblock %}

{% extends 'admin/index.twig' %}
{% block body %}

<!-- Content Wrapper. Contains page content -->
<div class="robust-content content container-fluid">
	<div class="content-wrapper">

		<section class="widget">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">{{ title }}</h4>
				</div>
				<div class="card-body collapse in">
					<div class="card-block card-dashboard">
						<form method="post" action="{{baseUrl()}}/admin/generatecodes/generateCodes" class="form-horizontal" id="form-generate-codes">
							<fieldset>
								{% if flash.message %}
								{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
								<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									{{ flash.message }}
								</div>
								{% endif %}

								<legend class="section">
									Associate Activation Code
								</legend>
								<div class="form-group">
									<label for="no_of_codes" class="col-sm-4 control-label">Code Quantity</label>
									<div class="col-sm-7">
										<input type="number" min="0" max="200" name="no_of_codes" value="1" id="no_of_codes" class="form-control" required>
									</div>
								</div>
							</fieldset>
							<div class="form-actions">
								<div class="row">
									<div class="col-sm-offset-4 col-sm-7">
										<div class="btn-toolbar">
											<button type="button" onclick="onGenerateCode()" class="btn btn-primary">
												Submit
											</button>
											<button type="button" class="btn btn-inverse">
												Cancel
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

		<section class="widget">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">GENERATED CODES</h4>
				</div>
				<div class="card-body collapse in">
					<div class="card-block card-dashboard">
						<table id="table-generatedcodes-list" class="table table-striped table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>GENERATED_BY</th>
									<th>CODE COUNT</th>
									<th>USED</th>
									<th>UNUSED</th>
									<th>ACTION</th>
									<th>DATE/TIME</th>
								</tr>
							</thead>
							<tbody>
								{% for transaction in transactions %}
								<tr>
									{% set totalAmount = entry_payin * transaction.code_count %}
									<td>{{ transaction.id }}</td>
									<td>{{ transaction.generated_by_username }}</td>
									<td>{{ transaction.code_count }}</td>
									<td>{{ transaction.used }}</td>
									<td>{{ transaction.unused }}</td>
									<td>
										<a href="{{baseUrl()}}/admin/generatecodes/list/{{transaction.ct_id}}"> <i class="fa fa-search" title="view generated codes"></i> View</a>
										&nbsp;&nbsp;&nbsp;
										<a href="{{baseUrl()}}/admin/generatecodes/download/{{transaction.ct_id}}"><i class="fa fa-download" title="view generated codes"></i> Download</a>
									</td>
									<td>{{ transaction.created_at|date('F d, Y h:i:s a') }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{% endblock %}

{% block ext_js %}
<script src="{{assetUrl}}robust/js/plugins/tables/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{assetUrl}}robust/js/plugins/tables/datatable/dataTables.bootstrap4.min.js" type="text/javascript"></script>
<script>
	$(function() {
		var tbGeneratedCodes = $('#table-generatedcodes-list').dataTable();
		tbGeneratedCodes.fnSort([[1, 'desc']]);
	});
	function onGenerateCode() {
		$(this).attr('disabled', true);
		var r = confirm("Are you sure do you want to proceed this transaction?");
		if (r == true) {
			$(this).attr('disabled', true);
			$('#form-generate-codes').submit();
		} else {
			$(this).removeAttr('disabled');
		}
	}
</script>
{% endblock %}