<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

		<title>JCA Wellness International Corporation</title>

		<link rel='stylesheet' type='text/css' href='{{assetUrl}}receipt_print/css/style.css' />
		<link rel='stylesheet' type='text/css' href='{{assetUrl}}receipt_print/css/print.css' media="print" />
		<link rel='stylesheet' type='text/css' href='{{assetUrl}}css/landing/bootstrap.min.css' />
		<script type='text/javascript' src='{{assetUrl}}receipt_print/js/jquery-1.3.2.min.js'></script>
		<script type='text/javascript' src='{{assetUrl}}receipt_print/js/example.js'></script>

		<style>
			p {
				margin: 0 0 0px;
			}
		</style>
	</head>
	<body>

		<div id="page-wrap">
			<textarea id="header">SALES INVOICE RECEIPT</textarea>
			<div class="row">
				<div class="col-md-6">
					<img src="{{assetUrl}}images/jcaLonglogo.png" style="width: 250px; height: auto; margin-bottom: 10px;" alt="logo" />
					<br />
					<p>
						Unit 810 Raffles Corporate
					</p>
					<p>
						Center Emerald Ave. Ortigas
					</p>
					<p>
						Center, Pasig, Metro Manila
					</p>
					<p>
						<b>TIN: 009-615-866-000</b>
					</p>
					<p>
						<a href="https://jca.international/">https://jca.international</a>
					</p>
				</div>
				<div class="col-md-6">
					<p style="margin-top: 15%;">
						Date: &nbsp;&nbsp; <b style="text-decoration: underline;">{{ receipt_data.date_today }}</b>
					</p>
					<p>
						Sales Invoice Receipt #: &nbsp;&nbsp; <b style="text-decoration: underline;">{{ receipt_data.receipt_no }}</b>
					</p>
					<p style="margin-top: 5%;">
						<b>BILL TO:</b>
					</p>
					<p>
						PAYEE NAME: &nbsp;&nbsp; <b style="text-decoration: underline;">{{ getUserdetails(receipt_data.customer_id).first_name }} {{ getUserdetails(receipt_data.customer_id).last_name }}
						/{{ getUserdetails(receipt_data.customer_id).username }}</b>
					</p>
					<p>
						REFERENCE CODE: &nbsp;&nbsp; <b style="text-decoration: underline;">{{ receipt_data.reference_code }}</b>
					</p>
				</div>
			</div>

			<hr />

			<div class="row">
				<table class="col-md-12">
					<tr>
						<th colspan=5 style="letter-spacing: 10px; text-align: center;">PARTICULARS</th>
					</tr>
					<tr>
						<th>Item</th>
						<th>Description</th>
						<th>Unit Cost</th>
						<th>Quantity</th>
						<th>Amount</th>
					</tr>
					
					{% for particular in receipt_data.particulars %}

					<tr class="item-row">
						<td>{{ particular.item }}</td>
						<td>{{ particular.description }}</td>
						<td>{{ particular.unit_cost|number_format(2, '.', ',') }}</td>
						<td>{{ particular.quantity }}</td>
						<td>{{ particular.amount|number_format(2, '.', ',') }}</td>
					</tr>
					
					{% endfor %}
					
					<tr>
						<th colspan=5 style="background: gray;"></th>
					</tr>
					
					<tr>
						<td colspan="4" style="text-align: right;">Subtotal</td>
						<td>{{ receipt_data.sub_total|number_format(2, '.', ',') }}</td>
					</tr>
					<tr>
						<td colspan="4" style="text-align: right;">Total</td>
						<td>{{ receipt_data.total|number_format(2, '.', ',') }}</td>
					</tr>
					<tr>
						<td colspan="4" style="text-align: right;">Amount Paid</td>
						<td>{{ receipt_data.amount_paid|number_format(2, '.', ',') }}</td>
					</tr>

				</table>
			</div>
			
			<br>
			<a href="/admin/generatecodes/download/receipt/{{code.id}}/{{ receipt_data.receipt_no }}" class="btn btn-success btn-sm pull-right">Download Receipt</a>
		</div>
	</body>
</html>