{% block ext_css %}
<link href="{{assetUrl}}js/summernote/summernote.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% extends 'admin/index.twig' %}
{% block body %}

<!-- Content Wrapper. Contains page content -->
<div class="robust-content content container-fluid">
	<div class="content-wrapper">

		{% if flash.message %}
		{% set status = (flash.message_status == true) ? "success" : "danger" %}
		<div class="flash-div">
			<div class="alert alert-{{status}} alert-dismissable">
				<button aria-hidden="true" data-dismiss="alert" class="close" type="button">
					×
				</button>
				{{ flash.message }}
				<b>{{ flash.def_password }}</b>
			</div>
		</div>
		{% endif %}

		<section class="widget">
			<form method="post" action="{{ urlFor('set_general_settings') }}">
				<label class="checkbox-inline">
					<input type="checkbox" name="payout_switch" {{payout_enabled}} data-toggle="toggle">
					Payout Transactions </label>

				<label class="checkbox-inline">
					<input type="checkbox" name="registration_switch" {{registration_enabled}} data-toggle="toggle">
					Member Registration </label>

				<button class="btn btn-success btn-sm" type="submit">
					Save
				</button>
			</form>
		</section>
		
		<hr />
		
		<section class="widget">
			<form action="{{ urlFor('set_admin_login') }}" method="post" accept-charset="UTF-8">
				<h3 class="block-title">Disclaimer</h3>
				<div class="form-group m-b-15">
					<textarea name="disclaimer" class="wysiwye-editor">{{ login_attribute.disclaimer }}</textarea>
				</div>

				<h3 class="block-title">Dealer's Policy</h3>
				<div class="form-group m-b-15">
					<textarea name="dealers_policy" class="wysiwye-editor">{{ login_attribute.dealers_policy }}</textarea>
				</div>

				<h3 class="block-title">Product Policy</h3>
				<div class="form-group m-b-15">
					<textarea name="product_policy" class="wysiwye-editor">{{ login_attribute.product_policy }}</textarea>
				</div>

				<h3 class="block-title">Privacy And Security</h3>
				<div class="form-group m-b-15">
					<textarea name="privacy_security" class="wysiwye-editor">{{ login_attribute.privacy_security }}</textarea>
				</div>

				<h3 class="block-title">Company Policy</h3>
				<div class="form-group m-b-15">
					<textarea name="company_policy" class="wysiwye-editor">{{ login_attribute.company_policy }}</textarea>
				</div>

				<h3 class="block-title">Terms And Conditions</h3>
				<div class="form-group m-b-15">
					<textarea name="terms_condition" class="wysiwye-editor">{{ login_attribute.terms_condition }}</textarea>
				</div>

				<legend></legend>

				<h3 class="block-title">Announcements</h3>
				<div class="form-group m-b-15">
					<textarea name="announcements" class="wysiwye-editor">{{ login_attribute.announcements }}</textarea>
				</div>

				<button type="submit" class="btn btn-primary btn-info btn-sm m-t-10 save-btn">
					SAVE
				</button>
			</form>
		</section>
	</div>

</div>
{% endblock %}

{% block ext_js %}
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="{{assetUrl}}js/summernote/summernote.min.js"></script>
<script>
	$(document).ready(function() {
		$('.wysiwye-editor').summernote({
			height : 200,
			toolbar : [
			// [groupName, [list of button]]
			['style', ['bold', 'italic', 'underline', 'clear']], ['fontsize', ['fontsize']], ['color', ['color']], ['para', ['ul', 'ol', 'paragraph']], ['height', ['height']]]
		});
	}); 
</script>
{% endblock %}