{% extends 'master.twig' %}
{% block body %}

<link href="{{assetUrl}}css/newbinarytree.css" rel="stylesheet">
<style>
	.star-cont img {
		width: 100%;
	}

	.star-cont h3 {
		text-align: center;
		color: #FCE7AE;
	}

	.legend-cont {
		color: #FCE7AE;
		margin-top: 12px;
		background: black;
		padding: 12px 12px;
		background: rgb(34, 45, 50);
	}

	.legend-cont .col-xs-4 {
		text-align: center;
	}

	/* centered columns styles */
	.row-centered {
		text-align: center;
	}
	.col-centered {
		display: inline-block !important;
		float: none !important;
		/* reset the text-align */
		text-align: left;
		/* inline-block space fix */
		margin-right: -4px;
	}

	.tree li a {
		height: auto;
	}

	.geneology-label {
		width: 100px;
		height: auto;
		font-weight: bold;
		font-size: 14px;
		color: #009688;
		display: block;
		margin: 0 auto;
	}
</style>

<div class="content container">
	<h2 class="page-title">Account Activation <small>Setup your account.</small></h2>
	<div class="row">
		<div class="col-md-12">

			<section class="widget">
				<header>
					<h4><i class="fa fa-align-left"></i> Inputs </h4>
					{#
					<div class="widget-controls">
						<a href="#"><i class="glyphicon glyphicon-cog"></i></a>
						<a href="#"><i class="fa fa-refresh"></i></a>
						<a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
					</div>
					#}
				</header>
				<div class="body">
					<form method="post" action="{{ urlFor('activate_account') }}" class="form-horizontal">
						<input type="hidden" name="position" required/>
						<input type="hidden" name="head_ref_code" required/>
						<fieldset>
							{% if flash.message %}
							{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
							<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								{{ flash.message }}
							</div>
							{% endif %}

							<legend class="section">
								Account Activation Details
							</legend>
							<div class="form-group">
								<label for="activation_code" class="col-sm-4 control-label">Activation Code</label>
								<div class="col-sm-7">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-key"></i></span>
										<input type="text" name="activation_code" id="activation_code" class="form-control" placeholder="Activation Code" required>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="direct_referral" class="col-sm-4 control-label">Direct Referral</label>
								<div class="col-sm-7">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-user"></i></span>
										<input type="text" name="direct_referral" id="direct_referral" class="form-control" placeholder="Direct Referral Username" required>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="direct_referral" class="col-sm-4 control-label">Position</label>
								<div class="col-sm-7">
									<h3 id="position-label">N/A</h3>
								</div>
							</div>
							<legend></legend>
							<div class="form-group">
								<label for="search_head" class="col-sm-4 control-label">Search Line Head</label>
								<div class="col-sm-7">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-search"></i></span>
										<input type="text" name="search_head" id="search_head" class="form-control" placeholder="Search by Username" >
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="tree"></div>
							</div>
						</fieldset>
						<div class="form-actions">
							<div class="row">
								<div class="col-sm-offset-4 col-sm-7">
									<div class="btn-toolbar">
										<button type="submit" class="btn btn-primary" id="btn-submit" disabled>
											Submit
										</button>
										<a href="{{ urlFor('logout') }}" class="btn btn-inverse"> Cancel </a>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>
</div>

<script src="{{assetUrl}}js/geneology.js"></script>
<script>
	$(document).ready(function() {
		loadTree(4);
	});

	$("[name=search_head]").on("input", function() {
		if (this.value === "") {
			loadTree(4);
		} else {
			$.get("/api/validate/dr/" + this.value, function(response) {
				if (response.status === "success") {
					loadTree(response.user.id);
				} else {
					// $(".tree").empty();
					$("#position-label").text("");
					$("#btn-submit").attr("disabled", true);
				}
			}).fail(function(error) {
				console.log(error);
			});
		}
	});

	function loadTree(user_id) {
		loadGeneology(user_id, function(response) {
			if (response.uid !== "null") {
				alert("Oops, this slot is not yet available!");
			} else {
				$("#position-label").text(response.position + " of " + response.head_username);
				$("[name=position]").val(response.position);
				$("[name=head_ref_code]").val(response.head_ref_code);
				$("#btn-submit").removeAttr("disabled");
			}
		}, function(data) {
			console.log(data);
		});
	}
</script>

{% endblock %}
