{% extends 'master.twig' %}
{% block body %}

<div class="content container">
	<h2 class="page-title">Password Setup <small>Setup your new account password.</small></h2>
	<div class="row">
		<div class="col-md-12">

			<section class="widget">
				<header>
					<h4><i class="fa fa-align-left"></i> Inputs </h4>
				</header>
				<div class="body">
					<form method="post" action="{{ urlFor('set_new_password') }}" class="form-horizontal">
						<input type="hidden" name="user_id" value="{{user.id}}" />
						<fieldset>
							{% if flash.message %}
							{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
							<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								{{ flash.message }}
							</div>
							{% endif %}

							<legend class="section">
								Your Security Credentials
							</legend>
							<div class="form-group">
								<label for="password" class="col-sm-4 control-label">New Password</label>
								<div class="col-sm-7">
									<input type="text" name="password" id="password" class="form-control" placeholder="Your New Password" required>
								</div>
							</div>
							<div class="form-group">
								<label for="confirm" class="col-sm-4 control-label">Confirm Password</label>
								<div class="col-sm-7">
									<input type="text" name="confirm" id="confirm" class="form-control" placeholder="Confirm your New Password" required>
								</div>
							</div>
						</fieldset>
						<div class="form-actions">
							<div class="row">
								<div class="col-sm-offset-4 col-sm-7">
									<div class="btn-toolbar">
										<button type="submit" class="btn btn-primary" >
											Submit
										</button>
										<a href="{{ urlFor('logout') }}" class="btn btn-inverse"> Cancel </a>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>
</div>
{% endblock %}
