<div role="navigation" data-menu="menu-wrapper" class="header-navbar navbar navbar-horizontal navbar-light navbar-shadow navbar-without-dd-arrow navbar-fixed">
	<!-- Horizontal menu content-->
	<div data-menu="menu-container" class="navbar-container main-menu-content">
		<!-- include includes/mixins-->
		<ul id="main-menu-navigation" data-menu="menu-navigation" class="nav navbar-nav">
			<li id="geneology" class="nav-item">
				<a href="/member/geneology" class="nav-link"><i class="fa fa-sitemap"></i><span data-i18n="nav.templates.main">Geneology</span></a>
			</li>
			<li id="member_downlines" class="nav-item">
				<a href="/member/downlines" class="nav-link"><i class="fa fa-users"></i><span data-i18n="nav.templates.main">Downlines</span></a>
			</li>
			<li id="member_income" class="nav-item">
				<a href="/member/income" class="nav-link"><i class="fa fa-money"></i><span data-i18n="nav.templates.main">Income</span></a>
			</li>
			<li id="member_purchases" class="nav-item">
				<a href="/member/purchases" class="nav-link"><i class="fa fa-barcode"></i><span data-i18n="nav.templates.main">Purchases</span></a>
			</li>
			<li id="member_payout" class="nav-item">
				<a href="/member/payout" class="nav-link"><i class="fa fa-money"></i><span data-i18n="nav.templates.main">Payout</span></a>
			</li>
			<li id="member_messages" class="nav-item">
				<a href="/member/messages" class="nav-link"><i class="fa fa-envelope-o"></i><span data-i18n="nav.templates.main">Messages</span></a>
			</li>
		</ul>
		{#
		<ul id="main-menu-navigation" data-menu="menu-navigation" class="nav navbar-nav">
			<li data-menu="dropdown" class="dropdown nav-item">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="icon-paper-stack"></i><span data-i18n="nav.templates.main">Templates</span></a>
				<ul class="dropdown-menu">
					<li data-menu="dropdown-submenu" class="dropdown dropdown-submenu">
						<a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Vertical</a>
						<ul class="dropdown-menu">
							<li data-menu="">
								<a href="http://demo.pixinvent.com/robust-admin/ltr/vertical-menu-template" data-toggle="dropdown" class="dropdown-item">Classic Menu</a>
							</li>
							<li data-menu="">
								<a href="http://demo.pixinvent.com/robust-admin/ltr/vertical-compact-menu-template" data-toggle="dropdown" class="dropdown-item">Compact Menu</a>
							</li>
							<li data-menu="">
								<a href="http://demo.pixinvent.com/robust-admin/ltr/vertical-content-menu-template" data-toggle="dropdown" class="dropdown-item">Content Menu</a>
							</li>
							<li data-menu="">
								<a href="http://demo.pixinvent.com/robust-admin/ltr/vertical-overlay-menu-template" data-toggle="dropdown" class="dropdown-item">Overlay Menu</a>
							</li>
							<li data-menu="">
								<a href="http://demo.pixinvent.com/robust-admin/ltr/vertical-multi-level-menu-template" data-toggle="dropdown" class="dropdown-item">Multi-level Menu</a>
							</li>
						</ul>
					</li>
					<li data-menu="dropdown-submenu" class="dropdown dropdown-submenu">
						<a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Horizontal</a>
						<ul class="dropdown-menu">
							<li data-menu="">
								<a href="http://demo.pixinvent.com/robust-admin/ltr/horizontal-menu-template" data-toggle="dropdown" class="dropdown-item">Classic</a>
							</li>
							<li data-menu="">
								<a href="http://demo.pixinvent.com/robust-admin/ltr/horizontal-top-icon-menu-template" data-toggle="dropdown" class="dropdown-item">Top Icon</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
		#}
	</div>
	<!-- /horizontal menu content-->
</div>