{% extends 'master.twig' %}
{% block body %}

{#
<div class="logo">
	<h4><a href="/"><img style="max-width: 135px; max-height: auto;" src="{{ assetUrl }}/images/jca_logo_final.png" /></h4>
</div>
#}

<div class="wrap">
	<!-- HEADER VIEW -->
	{% include 'header.twig' %}

	<div class="content container">
		<h2 class="page-title">My Profile</h2>
		<div class="row">
			<div class="col-md-10">

				<section class="widget">
					<header>
						<h4><i class="fa fa-align-left"></i> Inputs </h4>
					</header>
					<div class="body">
						<form method="post" action="{{ urlFor('update_member_profile') }}" enctype="multipart/form-data" class="form-horizontal">
							<fieldset>
								{% if flash.message %}
								{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
								<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
									{{ flash.message }}
								</div>
								{% endif %}

								<legend class="section">
									Your Profile Details
								</legend>

								<div class="form-group">
									<label for="username" class="col-sm-4 control-label"></label>
									<div class="col-sm-7">
										<div class="account-picture">
											<img id="user-avatar" src="{{ assetUrl }}images/avatar/{{ user.img_file_name }}" alt="">
											<input type="file" name="avatar" id="user_avatar" />
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="last_name" class="col-sm-4 control-label">Reference ID</label>
									<div class="col-sm-7">
										<label class="control-label"><strong>{{ user.ban }}</strong></label>
									</div>
								</div>
								<div class="form-group">
									<label for="last_name" class="col-sm-4 control-label">Username</label>
									<div class="col-sm-7">
										<label class="control-label"><strong>{{ user.username }}</strong></label>
									</div>
								</div>
								<div class="form-group">
									<label for="last_name" class="col-sm-4 control-label">Email Address</label>
									<div class="col-sm-7">
										<label class="control-label"><strong>{{ user.email }}</strong></label>
									</div>
								</div>

								<legend></legend>

								<div class="form-group">
									<label for="first_name" class="col-sm-4 control-label">First Name</label>
									<div class="col-sm-7">
										<label class="control-label" id="label-first_name"><strong>{{ user.first_name }}</strong></label>
										<input type="text" name="first_name" id="first_name" class="form-control" value="{{ user.first_name }}" style="display: none;" required>
									</div>
								</div>

								<div class="form-group">
									<label for="middle_name" class="col-sm-4 control-label">Middle Name</label>
									<div class="col-sm-7">
										<label class="control-label" id="label-middle_name"><strong>{{ user.middle_name }}</strong></label>
										<input type="text" name="middle_name" id="middle_name" class="form-control" value="{{ user.middle_name }}" style="display: none;" required>
									</div>
								</div>

								<div class="form-group">
									<label for="last_name" class="col-sm-4 control-label">Last Name</label>
									<div class="col-sm-7">
										<label class="control-label" id="label-last_name"><strong>{{ user.last_name }}</strong></label>
										<input type="text" name="last_name" id="last_name" class="form-control" value="{{ user.last_name }}" style="display: none;" required>
									</div>
								</div>

								<div class="form-group">
									<label for="gender" class="col-sm-4 control-label">Gender</label>
									<div class="col-sm-7">
										<label class="control-label" id="label-gender"><strong>{{ user.gender }}</strong></label>
										<input type="text" name="gender" id="gender" class="form-control" value="{{ user.gender }}" style="display: none;" required>
									</div>
								</div>

								<div class="form-group">
									<label for="mobile_number" class="col-sm-4 control-label">Mobile Number</label>

									<div class="col-sm-7" id="label-mobile_number">
										<label class="control-label"><strong>{{ user.country_code ~ user.mobile_number }}</strong></label>
									</div>

									<div class="col-sm-7" id="label-mobile_container" style="display: none;">
										<div class="row">
											<div class="col-sm-2">
												{% include 'user/country_codes.twig' %}
											</div>
											<div class="col-sm-4">
												<input type="text" name="mobile_number" id="mobile_number" class="form-control" value="{{ user.mobile_number }}" required>
											</div>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="address" class="col-sm-4 control-label">Address</label>
									<div class="col-sm-7">
										<label class="control-label" id="label-address"><strong>{{ user.address }}</strong></label>
										<input type="text" name="address" id="address" class="form-control" value="{{ user.address }}" style="display: none;" required>
									</div>
								</div>

								<div class="form-group">
									<label for="birthday" class="col-sm-4 control-label">Birthday</label>
									<div class="col-sm-7">
										<label class="control-label" id="label-birthday"><strong>{{ user.birthday|date("F d, Y") }}</strong></label>
										<input type="date" name="birthday" id="birthday" class="form-control" value="{{ user.birthday }}" style="display: none;" required>
									</div>
								</div>

							</fieldset>
							<div class="form-actions">
								<div class="row">
									<div class="col-sm-offset-4 col-sm-7">
										<div class="btn-toolbar">
											<button type="button" onclick="editProfile()" class="btn btn-warning" id="btn-edit-profile">
												Edit Profile
											</button>
											<button type="submit" class="btn btn-primary" id="btn-submit-profile" style="display: none;">
												Submit
											</button>
											<a id="btn-cancel-edit" onclick="onCancelEdit()" class="btn btn-inverse" style="display: none;"> Cancel </a>
											<a id="btn-cancel-login" href="/login" class="btn btn-inverse"> Cancel </a>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</section>
			</div>
		</div>
	</div>

</div>

<script>
	$("#user_avatar").on("change", function() {
		previewQuestionImages(this);
	});

	function editProfile() {
		$("#btn-edit-profile").hide();
		$("#btn-submit-profile").show();
		$("#btn-cancel-edit").show();
		$("#btn-cancel-login").hide();

		$("input[name=first_name]").show();
		$("#label-first_name").hide();

		$("input[name=middle_name]").show();
		$("#label-middle_name").hide();

		$("input[name=last_name]").show();
		$("#label-last_name").hide();

		$("input[name=gender]").show();
		$("#label-gender").hide();

		$("input[name=address]").show();
		$("#label-address").hide();

		$("input[name=birthday]").show();
		$("#label-birthday").hide();

		$("#label-mobile_number").hide();
		$("#label-mobile_container").show();
		$("[name=country_code]").val('{{ user.country_code }}');
	}

	function onCancelEdit() {
		$("#btn-edit-profile").show();
		$("#btn-submit-profile").hide();
		$("#btn-cancel-edit").hide();
		$("#btn-cancel-login").show();

		$("input[name=first_name]").hide();
		$("#label-first_name").show();

		$("input[name=middle_name]").hide();
		$("#label-middle_name").show();

		$("input[name=last_name]").hide();
		$("#label-last_name").show();

		$("input[name=gender]").hide();
		$("#label-gender").show();

		$("input[name=address]").hide();
		$("#label-address").show();

		$("input[name=birthday]").hide();
		$("#label-birthday").show();

		$("#label-mobile_number").show();
		$("#label-mobile_container").hide();
		$("[name=country_code]").val(null);
	}

	function previewQuestionImages(input) {
		var reader = new FileReader();
		reader.onload = function(e) {
			$("#user-avatar").attr("src", e.target.result);
		};
		reader.readAsDataURL(input.files[0]);
	}
</script>

{% endblock %}
