{% block ext_css %}
<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/css/plugins/tables/datatable/dataTables.bootstrap4.min.css">
<link href="{{assetUrl}}morris-chart/css/morris.css" rel="stylesheet" type="text/css" media="screen"/>
<style>
	.chart-legend  li span {
		color: red !important;
		display: block;
		width: 12px;
		height: 12px;
		margin-right: 5px;
		list-style-type: none !important;
		display: inline-block;
	}
	.chart-legend ul {
		list-style: none;
	}

	.chart-legend {
		margin-left: 15px;
		margin-top: 10px;
	}
</style>
{% endblock %}

{% extends 'member/index.twig' %}
{% block body %}

<!-- Content Wrapper. Contains page content -->
<div class="robust-content content container-fluid">
	<div class="content-wrapper">

		<div class="body chart" style="background-color: white; color: black; padding: 17px;">
			<header>
				<h4><i class="fa fa-arrow-circle-o-right"></i> Downlines Stats</h4>
			</header>
			<div id="downlines-stats"></div>
			<div id="legendDiv" class="chart-legend"></div>
		</div>

		<br/>

		<section class="widget">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Downlines</h4>
				</div>
				<div class="card-body collapse in">
					<div class="card-block card-dashboard">
						<table id="table-geneology-details" class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th>LEFT MEMBER</th>
									<th>LEFT MEMBER DATE ENCODED</th>
									<th>LEFT MEMBER SPONSOR</th>
									<th></th>
									<th>RIGHT MEMBER</th>
									<th>RIGHT MEMBER DATE ENCODED</th>
									<th>RIGHT MEMBER SPONSOR</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>
{% endblock %}

{% block ext_js %}
<script src="{{assetUrl}}morris-chart/js/raphael-min.js" type="text/javascript"></script>
<script src="{{assetUrl}}morris-chart/js/morris.min.js" type="text/javascript"></script>

<script src="{{assetUrl}}robust/js/plugins/tables/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{assetUrl}}robust/js/plugins/tables/datatable/dataTables.bootstrap4.min.js" type="text/javascript"></script>
<script type="text/javascript">
	var tblGeneologyList = $("#table-geneology-details").dataTable({
		"processing" : true,
		"serverSide" : true,
		"ordering" : false,
		"scrollX": true,
		"ajax" : {
			"url" : "{{ urlFor('members_paginated') }}",
			"type" : "POST",
			"data" : {
				"user_id" : "{{ user.id }}"
			}
		}
	});

	$.get("{{ urlFor('list_downlines') }}", function(response) {
		loadGraph(response);
	}).fail(function(error) {
		console.log("error", error);
	});

	function loadGraph(data) {
		if (data !== null) {
			data = JSON.parse(data);
			$("#downlines-stats").empty();
			Morris.Line({
				element : 'downlines-stats',
				data : data,
				parseTime : false,
				resize : true,
				xkey : 'month_label',
				ykeys : ['left_count', 'right_count'],
				labels : ['Left Count', 'Right Count'],
				lineColors : ['rgba(152, 226, 66,1)', '#FF0000'],
				pointFillColors : ['rgba(152, 226, 66,1)', '#FF0000']
			});
			addLegend();
		}
	}

	function addLegend() {
		$("#legendDiv").empty();

		var legend = "<ul>";

		legend += "<li>";
		legend += "<span style='background: rgba(152, 226, 66,1);'></span>";
		legend += "Left Count";
		legend += "</li>";

		legend += "<li>";
		legend += "<span style='background: rgba(63,81,181,1);'></span>";
		legend += "Right Count";
		legend += "</li>";

		legend += "</ul>";

		$("#legendDiv").append($(legend));
	}
</script>
{% endblock %}
