{% extends 'admin/index.twig' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="normalheader transition animated fadeIn">
	<div class="hpanel">
		<div class="panel-body">
			<a class="small-header-action" href="">
			<div class="clip-header">
				<i class="fa fa-arrow-up"></i>
			</div> </a>
			<h2 class="font-light m-b-xs"><i class="fa fa-fw fa-history"></i> {{title}}</h2>
		</div>
	</div>
</div>

<!-- Main content -->
<div class="content animate-panel">
	{% if flash.message %}
	{% if flash.message_status == true %}
	<div class="alert alert-success alert-dismissable" style="margin-top: 25px">
		{% else %}
		<div class="alert alert-danger alert-dismissable" style="margin-top: 25px">
			{% endif %}
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">
				×
			</button>
			{{ flash.message }}
		</div>
		{% endif %}

		<div class="hpanel">
			<div class="panel-heading">
				<div class="panel-tools">
					<a class="showhide"><i class="fa fa-chevron-up"></i></a>
				</div>
				Pairing Bonus
			</div>
			<div class="panel-body">
				<div class="box-body table-responsive">
					<table id="table-pair-groups" class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<td>WEEKLY</td>
								<td>COUNT</td>
								<td>ACTION</td>
							</tr>
						</thead>
						<tbody>
							{% for pairGroup in pairGroups %}
							<tr>
								<th>{{ pairGroup.week }}</th>
								<th>{{ pairGroup.totalCount }}</th>
								<td><a href="{{ baseUrl() }}/admin/bonushistory/pair/all/{{ weekGroupToBase64(pairGroup.week) }}" class="btn btn-info btn-xs"><i class="fa pe-7s-search" title="view history"></i> View</></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>

		<div class="hpanel">
			<div class="panel-heading">
				<div class="panel-tools">
					<a class="showhide"><i class="fa fa-chevron-up"></i></a>
				</div>
				Direct Referral Bonus
			</div>
			<div class="panel-body">
				<div class="box-body table-responsive">
					<table id="table-dr-groups" class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<td>WEEKLY</td>
								<td>COUNT</td>
								<td>ACTION</td>
							</tr>
						</thead>
						<tbody>
							{% for directReferral in directReferrals %}
							<tr>
								<th>{{ directReferral.week }}</th>
								<th>{{ directReferral.totalCount }}</th>
								<td><a href="{{ baseUrl() }}/admin/bonushistory/dr/all/{{ weekGroupToBase64(directReferral.week) }}" class="btn btn-info btn-xs"><i class="fa pe-7s-search" title="view history"></i> View</></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
	</div>
	<script>
		$(function() {
			var tblPairGroups = $("#table-pair-groups").dataTable();
			var tblDrGroups = $("#table-dr-groups").dataTable();
		});
	</script>

	{% endblock %}

