{% extends 'admin/index.twig' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="normalheader transition animated fadeIn">
	<div class="hpanel">
		<div class="panel-body">
			<a class="small-header-action" href="">
			<div class="clip-header">
				<i class="fa fa-arrow-up"></i>
			</div> </a>
			<h2 class="font-light m-b-xs"><i class="fa fa-fw fa-history"></i> {{title}}</h2>
			<a href="{{baseUrl()}}/admin/bonushistory" class="pull-right" style="margin-top: -42px; font-size: 30px; margin-right: 20px;"><i class="fa pe-7s-home"></i></a>
		</div>
	</div>
</div>

<!-- Main content -->
<div class="content animate-panel">
	{% if flash.message %}
	{% if flash.message_status == true %}
	<div class="alert alert-success alert-dismissable" style="margin-top: 25px">
		{% else %}
		<div class="alert alert-danger alert-dismissable" style="margin-top: 25px">
			{% endif %}
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">
				×
			</button>
			{{ flash.message }}
		</div>
		{% endif %}

		<div class="hpanel">
			<div class="panel-body">
				<div class="box-body table-responsive">
					<table id="table-pair-history" class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<td>Member</td>
								<!-- <td>PairA</td>
								<td>PairB</td> -->
								<td>Status</td>
								<td>Created At</td>
							</tr>
						</thead>
						<tbody>
							{% for history in histories %}
							{% set status = (history.is_valid == 1) ? "Valid" : "Exceeded" %}
							<tr>
								<th>{{ getUserdetails(history.user_id).username }}</th>
								<!-- <th>{{ getUserdetails(history.pairA).username }}</th>
								<th>{{ getUserdetails(history.pairB).username }}</th> -->
								<td>{{ status }}</td>
								<td>{{ history.created_at }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>

		<script>
			var tblPairGroup = $("#table-pair-history").dataTable();
		</script>
		{% endblock %}
