{% block ext_css %}
<style>
	.chat-message .icon {
		position: relative;
		z-index: 1;
		text-align: center;
		width: 53px;
		height: 53px;
		line-height: 53px;
		vertical-align: middle;
		border-radius: 53px;
	}
	.chat-message-body {
		margin-left: 63px;
		padding: 8px 10px;
		background: rgba(51,51,51,0.3);
		position: relative;
		border-left: 2px solid rgba(26,26,26,0.4);
		border-radius: 3px;
	}

	.chat-message .icon img {
		position: relative;
		top: -2px;
		width: 50px;
		height: 50px;
	}

	.img-circle {
		border-radius: 50%;
	}
	img {
		vertical-align: middle;
		border: 0;
	}
</style>
{% endblock %}

{% extends 'member/index.twig' %}
{% block body %}

<!-- Content Wrapper. Contains page content -->
<div class="robust-content content container-fluid">
	<div class="content-wrapper">

		<section class="widget">
			<header>
				<h4><i class="fa fa-align-left"></i> New message </h4>
			</header>
			<div>
				<form method="post" action="{{ urlFor('send_message') }}" class="form-horizontal">
					<fieldset>
						{% if flash.message %}
						{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
						<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							{{ flash.message }}
						</div>
						{% endif %}

						<input type="hidden" name="request_uri" value="{{request_uri}}" />
						<div class="form-group">
							<label>To:</label>
							<input type="text" name="send_to" class="form-control input-sm" placeholder="username" required>
						</div>
						<div class="form-group">
							<label>Body:</label>
							<textarea name="message_content" class="form-control"></textarea>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-success">
								Send
							</button>
						</div>
					</fieldset>
				</form>
			</div>
		</section>

		<section class="widget large">
			<header>
				<h4> Messages </h4>
			</header>
			<div class="body">
				{% for message in messages %}

				{% set display_id = (message.to_user_id == user.id) ? message.from_user_id : message.to_user_id %}
				{% set thread_link = (message.message_body|length > 0) ? "/member/thread/replies/" ~ message.ref_id : "#" %}

				<div class="chat-message">
					<div class="sender pull-left">
						<div class="icon">
							<img src="{{ assetUrl }}images/avatar/{{ getUserdetails(display_id).img_file_name }}" class="img-circle" alt="">
						</div>
					</div>
					<div class="chat-message-body">
						<span class="arrow"></span>
						<div class="sender">
							<a href="{{thread_link}}">{{ getUserdetails(display_id).username }}</a>

							{% if (message.is_read == 0 and message.last_sender_user_id != user.id) %}
							<span class="label label-warning pull-left">New</span>
							{% endif %}
						</div>
						<div class="sender" style="font-style: italic; color: yellow;">
							{{ timeAgo(message.created_at) }}
						</div>
						<div class="text">
							{{ message.last_message | raw }}
						</div>
						<div class="time">
							<span class="number"> {{ message.message_body | length }} </span>
							<small>Thread</small>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</section>

	</div>
</div>
{% endblock %}
