{% block ext_css %}
<style>
	.chat-message .icon {
		position: relative;
		z-index: 1;
		text-align: center;
		width: 53px;
		height: 53px;
		line-height: 53px;
		vertical-align: middle;
		border-radius: 53px;
	}
	.chat-message-body {
		margin-left: 63px;
		padding: 8px 10px;
		background: rgba(51,51,51,0.3);
		position: relative;
		border-left: 2px solid rgba(26,26,26,0.4);
		border-radius: 3px;
	}

	.chat-message .icon img {
		position: relative;
		top: -2px;
		width: 50px;
		height: 50px;
	}

	.img-circle {
		border-radius: 50%;
	}
	img {
		vertical-align: middle;
		border: 0;
	}
</style>
{% endblock %}

{% extends 'member/index.twig' %}
{% block body %}

<!-- Content Wrapper. Contains page content -->
<div class="robust-content content container-fluid">
	<div class="content-wrapper">

		<section class="widget">
			<header>
				<h4><i class="fa fa-align-left"></i> Reply to this thread </h4>
			</header>
			<div class="body">
				<form method="post" action="{{ urlFor('send_message') }}" class="form-horizontal">
					<fieldset>
						{% if flash.message %}
						{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
						<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							{{ flash.message }}
						</div>
						{% endif %}

						<input type="hidden" name="request_uri" value="{{request_uri}}" />
						<input type="hidden" name="message_ref_code" value="{{message_ref_id}}" />
						<div class="form-group">
							<label class="col-sm-1 control-label text-left">To:</label>

							<div class="col-sm-11">
								{% set display_id = (msg.to_user_id == user.id) ? msg.from_user_id : msg.to_user_id %}
								<input type="hidden" name="send_to" value="{{getUserdetails(display_id).username}}"/>
								<input type="text" class="form-control input-sm" placeholder="username" value="{{getUserdetails(display_id).username}}" disabled>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-1 control-label text-left">Body:</label>

							<div class="col-sm-11">
								<textarea name="message_content" class="form-control"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-1 control-label text-left"></label>

							<div class="col-sm-11">
								<button type="submit" class="btn btn-primary">
									Send
								</button>
								<a href="/member/messages" class="btn btn-danger"> Back </a>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</section>

		<section class="widget">
			<header>
				<h4><i class="fa fa-align-left"></i> Messages Thread </h4>
			</header>
			<div class="body">

				{% for message in messages %}

				{% set display_position = (message.msg_from_user_id == user.id) ? "pull-left" : "pull-right" %}
				{% set display_position2 = (message.msg_from_user_id == user.id) ? "" : "on-left" %}
				{% set displayLbl = (message.msg_from_user_id == user.id) ? "Me" : getUserdetails(message.msg_from_user_id).username ~ " - " ~ getUserdetails(message.msg_from_user_id).first_name %}

				<div class="chat-message">
					<div class="sender {{ display_position }}">
						<div class="icon">
							<img src="{{ assetUrl }}images/avatar/{{ getUserdetails(display_id).img_file_name }}" class="img-circle" alt="">
						</div>
					</div>
					<div class="chat-message-body {{ display_position2 }}">
						<span class="arrow"></span>
						<div class="sender">
							<span style="font-weight: bold;">{{ displayLbl }}</span>
						</div>
						<div class="sender" style="font-style: italic; color: yellow;">
							{{ timeAgo(message.created_at) }}
						</div>
						<div class="text">
							{{ message.reply_body | raw }}
						</div>
					</div>
				</div>

				{% endfor %}

			</div>
		</section>

	</div>
</div>

{% endblock %}
