{% extends 'cashier/index.twig' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="normalheader transition animated fadeIn">
	<div class="hpanel">
		<div class="panel-body">
			<a class="small-header-action" href="">
			<div class="clip-header">
				<i class="fa fa-arrow-up"></i>
			</div> </a>
			<h2 class="font-light m-b-xs"><i class="fa fa-fw fa-cubes"></i> {{title}}</h2>
		</div>
	</div>
</div>

<!-- Main content -->
<div class="content animate-panel">
	{% if flash.message %}
	{% if flash.message_status == true %}
	<div class="alert alert-success alert-dismissable" style="margin-top: 25px">
		{% else %}
		<div class="alert alert-danger alert-dismissable" style="margin-top: 25px">
			{% endif %}
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">
				x
			</button>
			{{ flash.message }}
		</div>
		{% endif %}

		<a data-target="product-modal" id="btn-product-add" class="btn btn-success btn-sm"><i class="fa fa-plus"></i> Add Product</a>

		<div class="hpanel">
			<div class="panel-heading">
				<div class="panel-tools">
					<a class="showhide"><i class="fa fa-chevron-up"></i></a>
				</div>
				Pairing Bonus
			</div>
			<div class="panel-body">
				<div class="box-body table-responsive">
					<table id="table-products" class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<td>Product Code</td>
								<td>Name</td>
								<td>Description</td>
								<td>Dealer Price</td>
								<td>SRP</td>
								<td>PPV</td>
								<td>UPV</td>
								<td>Date</td>
								<td>Action</td>
							</tr>
						</thead>
						<tbody>
							{% for product in products %}
							<tr>
								<th>{{ product.product_code }}</th>
								<th>{{ product.product_name }}</th>
								<th>{{ product.product_description }}</th>
								<th>₱ {{ product.price|number_format(0, '.', ',') }}</th>
								<th>₱ {{ product.srp|number_format(0, '.', ',') }}</th>
								<th>{{ product.pv }}</th>
								<th>{{ product.upv }}</th>
								<th>{{ product.created_at|date('M d Y') }}</th>
								<th><a onclick="editProduct('{{ getProductDetail(product.id) }}')" class="btn btn-primary btn-xs"> <i class="fa fa-edit"></i> Edit </a><a onclick="deleteProduct('{{ getProductDetail(product.id) }}')" class="btn btn-danger btn-xs"> <i class="fa fa-edit"></i> Delete </a></th>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
	</div>

	<!-- add product modal -->
	<div class="modal fade" id="product-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="modal-title"><i class="fa fa-plus"></i> Add Product</h4>
				</div>
				<form method="post" role="form" class="form-horizontal" id="product-form-data" enctype="multipart/form-data">
					<input type="hidden" name="product_id" >
					<div class="modal-body">
						<div class="form-group">
							<label for="user_email" class="col-lg-4 control-label">Product Code</label>
							<div class="col-lg-8">
								<div class="row">
									<div class="col-md-6">
										<input type="text" maxlength="4" class="input-sm form-control" name="product_code_A" placeholder="0000" required>
									</div>
									<div class="col-md-6">
										<input type="text" maxlength="4" class="input-sm form-control" name="product_code_B" placeholder="0000" required>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-4 control-label">Product Name</label>
							<div class="col-lg-8">
								<input type="text" class="input-sm form-control" name="product_name" placeholder="Product Name" required>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="col-lg-4 control-label">Dealer Price</label>
							<div class="col-lg-8">
								<input type="number" min="1" class="input-sm form-control" name="price" placeholder="Price" required>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="col-lg-4 control-label">SRP</label>
							<div class="col-lg-8">
								<input type="number" min="1" class="input-sm form-control" name="srp" placeholder="Price" required>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm_password" class="col-lg-4 control-label">PPV</label>
							<div class="col-lg-8">
								<input type="number" min="0" step="0.1" class="input-sm form-control" name="pv" placeholder="PV" required>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm_password" class="col-lg-4 control-label">UPV</label>
							<div class="col-lg-8">
								<input type="number" min="0" step="0.1" class="input-sm form-control" name="upv" placeholder="UPV" required>
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-4 control-label">Product Description</label>
							<div class="col-lg-8">
								<input type="text" class="input-sm form-control" name="product_description" placeholder="Product Description" required>
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-4 control-label">Introduction</label>
							<div class="col-lg-8">
								<textarea name="introduction" class="wysiwye-editor"></textarea>
							</div>
						</div>

						<div class="form-group">
							<label class="col-lg-4 control-label">Packing</label>
							<div class="col-lg-8">
								<textarea name="packing" class="wysiwye-editor"></textarea>
							</div>
						</div>

						<div class="form-group">
							<label for="item_image" class="col-lg-4 control-label">Item Image</label>
							<div class="col-lg-8">
								<input type="file" class="input-sm form-control" id="item_image" name="item_image">
								<img id="item-image" src="" style="max-width: 120px;height: auto;margin-top: 10px;" />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
							Cancel
						</button>
						<button type="submit" class="btn btn-success btn-sm" id="btn-product-save" >
							Save
						</button>
					</div>
				</form>
			</div>
		</div>
	</div><!-- end of add product modal -->

	<script>
		$(document).ready(function() {
			$('.wysiwye-editor').summernote({
				height : 200,
				toolbar : [
				// [groupName, [list of button]]
				['style', ['bold', 'italic', 'underline', 'clear']], ['fontsize', ['fontsize']], ['color', ['color']], ['para', ['ul', 'ol', 'paragraph']], ['height', ['height']]]
			});
		});

		$(function() {
			var tblPairGroups = $("#table-products").dataTable();

			/**
			 * reset the form and show it!
			 */
			$('#btn-product-add').click(function(e) {
				e.preventDefault();
				$('#product-form-data').each(function() {
					this.reset();
					$("#item-image").attr("src", '');
				});
				$('#product-form-data').attr('action', "{{ urlFor('addProduct') }}");
				$('#product-modal').modal('show');
			});

			$("#item_image").change(function() {
				previewQuestionImages(this);
			});
		});

		function editProduct(data) {
			var data = atob(data);
			data = JSON.parse(data);

			$('#product-form-data').each(function() {
				this.reset();
				$("#item-image").attr("src", '');
			});
			$("#modal-title").text("Edit Product");
			$('[name=product_code_A]').attr('disabled', true);
			$('[name=product_code_B]').attr('disabled', true);
			$('#product-form-data').attr('action', "{{ urlFor('editProduct') }}");

			var prodCode = data.product_code.split("-");
			$("[name=product_code_A]").val(prodCode[0]);
			$("[name=product_code_B]").val(prodCode[1]);
			$("[name=product_id]").val(data.id);
			$("[name=product_name]").val(data.product_name);
			$("[name=product_description]").val(data.product_description);

			$("[name=introduction]").summernote("code", data.introduction);
			$("[name=packing]").summernote("code", data.packing);

			$("[name=price]").val(data.price);
			$("[name=srp]").val(data.srp);
			$("[name=pv]").val(data.pv);
			$("[name=upv]").val(data.upv);
			$("#item-image").attr("src", "{{ baseUrl() }}/assets/images/products/" + data.image_filename);

			$('#product-modal').modal('show');
		}

		function deleteProduct(data) {
			var data = atob(data);
			data = JSON.parse(data);
			$.confirm({
				text : 'Are you sure you want to delete this product?',
				confirm : function() {
					var form = document.createElement("form");
					form.setAttribute('method', "post");
					form.setAttribute('action', "{{ urlFor('deleteProduct') }}");

					var username = document.createElement("input");
					username.setAttribute('type', "hidden");
					username.setAttribute('name', "product_id");
					username.setAttribute('value', data.id);
					form.appendChild(username);

					form.submit();
				}
			});
		}

		function previewQuestionImages(input) {
			var reader = new FileReader();
			reader.onload = function(e) {
				$("#item-image").attr("src", e.target.result);
			};
			reader.readAsDataURL(input.files[0]);
		}
	</script>

	{% endblock %}

