{% extends 'cashier/index.twig' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="normalheader transition animated fadeIn">
	<div class="hpanel">
		<div class="panel-body">
			<a class="small-header-action" href="">
			<div class="clip-header">
				<i class="fa fa-arrow-up"></i>
			</div> </a>
			<h2 class="font-light m-b-xs">{{title}}</h2>
		</div>
	</div>
</div>

<!-- Main content -->
<div class="content animate-panel">
	{% if flash.message %}
	{% if flash.message_status == true %}
	<div class="alert alert-success alert-dismissable" style="margin-top: 25px">
		{% else %}
		<div class="alert alert-danger alert-dismissable" style="margin-top: 25px">
			{% endif %}
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">
				x
			</button>
			{{ flash.message }}
		</div>
		{% endif %}

		<div class="hpanel">
			<div class="panel-body">
				<div class="box-body table-responsive">
					<form method="post" action="{{ urlFor('cashier_purchaseProduct') }}" id="form-product-purchase">
						<table class="table fixed-layout">
							<tbody>
								<tr class="act-tbl-head">
									<th colspan="2">PRODUCT PURCHASE</th>
								</tr>
								<tr>
									<td class="loan-label">Control Number</td>
									<th>{{control_number}}</th>
									<input type="hidden" name="control_number" value="{{control_number}}" />
								</tr>
								<tr>
									<td class="loan-label">Account Number/Username</td>
									<th>
									<select name="user_id" class="all-users" style="width: 100%;">
										<option value="0">- Select -</option>
										{% for all_user in all_users %}
										<option value="{{ all_user.id }}">{{ all_user.ban }} | {{ all_user.username }}</option>
										{% endfor %}
									</select></th>
								</tr>
								<tr>
									<td class="loan-label">Products</td>
									<th>
									<select name="product_id" class="all-products" style="width: 100%;">
										<option value="0">- Select -</option>
										{% for product in products %}
										<option value="{{ product.id }}">({{product.product_code}}) {{product.product_name}} - {{product.pv}}PPV|{{product.upv}}UPV | ₱{{product.price|number_format(0, '.', ',')}}</option>
										{% endfor %}
									</select></th>
								</tr>
								<tr>
									<td class="loan-label">Quantity</td>
									<th>
									<input type="number" min="0" name="quantity" value="1" class="form-control"/>
									</th>
								</tr>
								<tr>
									<td class="loan-label">Payment Type</td>
									<th>
									<select name="payment_type" class="form-control" style="width: 50%;">
										<option value="0">- Select Payment Type -</option>
										<option value="1">Cash</option>
										<option value="2">GC</option>
									</select></th>
								</tr>
								<tr>
									<td class="loan-label">Available GC</td>
									<th><span style="color: blue;" id="available-GC">0</span></th>
								</tr>
								<tr>
									<td></td>
									<th><a onclick="onPurchaseProduct()" class="btn btn-warning btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a></th>
								</tr>
							</tbody>
						</table>
					</form>
				</div><!-- /.box-body -->
			</div>
		</div>

		<div class="hpanel">
			<div class="panel-heading">
				<div class="panel-tools">
					<a class="showhide"><i class="fa fa-chevron-up"></i></a>
				</div>
				Purchase Logs
			</div>
			<div class="panel-body">
				<div class="box-body table-responsive">
					<table id="table-purchase-logs" class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<td>Control Number</td>
								<td>Member Username</td>
								<td>Product Code</td>
								<td>Product Name</td>
								<td>Product Description</td>
								<td>Product Price</td>
								<td>Amount Due</td>
								<td>Quantity</td>
								<td>Total PV</td>
								<td>Payment Type</td>
								<td>Transaction Date</td>
							</tr>
						</thead>
						<tbody>
							{% for purchaseLog in purchaseLogs %}
							{% set product = getProduct(purchaseLog.product_code) %}
							{% set paymentType = (purchaseLog.payment_type == 1) ? "Cash" : "GC" %}
							<tr>
								<th>{{ purchaseLog.control_number }}</th>
								<th>{{ getUserdetails(purchaseLog.member_id).username }}</th>
								<th>{{ product.product_code }}</th>
								<th>{{ product.product_name }}</th>
								<th>{{ product.product_description }}</th>
								<th>₱ {{ product.price|number_format(0, '.', ',') }}</th>
								<th>₱ {{ (product.price * purchaseLog.quantity)|number_format(0, '.', ',') }}</th>
								<th>{{ purchaseLog.quantity }}</th>
								
								{% if(purchaseLog.payment_type == 1) %}
								<th>{{ purchaseLog.total_pv }}</th>
								{% else %}
								<th></th>
								{% endif %}
								
								<th>{{ paymentType }}</th>
								<th>{{ purchaseLog.created_at }}</th>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
	</div>

	<script>
		$(function() {
			$(".all-users").select2();
			$(".all-products").select2();
			var logs = $("#table-purchase-logs").dataTable();
			logs.fnSort([[9, 'desc']]);

			$("#form-product-purchase").validate({
				rules : {
					user_id : {
						min : 1
					},
					product_id : {
						min : 1
					},
					payment_type : {
						min : 1
					},
					quantity : {
						required : true
					}
				},
				messages : {
					user_id : {
						min : "Please choose your Account"
					},
					product_id : {
						min : "Please choose your Product"
					},
					payment_type : {
						min : "Please choose payment type"
					},
					quantity : {
						required : "Please enter quantity of products"
					}
				},
				onfocusout : false,
				submitHandler : function(form) {
					submitForm(form, "term-submit");
				}
			});

			$("[name=user_id]").on('change', function() {
				getAvailableGC(this.value);
			});
		});

		function onPurchaseProduct() {
			$.confirm({
				title : 'Checkout',
				text : 'Are you sure you want to proceed?',
				confirm : function() {
					$("#form-product-purchase").submit();
				}
			});
		}

		function getAvailableGC(user_id) {
			var url = "{{baseUrl}}api/available/gc/" + user_id;
			$.get(url, function(gc) {
				$("#available-GC").text(gc + " GC");
			}).fail(function(error) {
				console.log("error", error);
			});
		}
	</script>

	{% endblock %}

