{% block ext_css %}
<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/css/plugins/tables/datatable/dataTables.bootstrap4.min.css">
{% endblock %}

{% extends 'member/index.twig' %}
{% block body %}

<!-- Content Wrapper. Contains page content -->
<div class="robust-content content container-fluid">
	<div class="content-wrapper">

		<section class="widget">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">{{ title }}</h4>
				</div>
				<div class="card-body collapse in">
					<div class="card-block card-dashboard">
						<table id="table-purchase-logs" class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<td>Control No.</td>
									<td>Product Code</td>
									<td>Product Name</td>
									<td>Quantity</td>
									<td>Total Amount</td>
									<td>Total PV</td>
									<td>Total uPV</td>
									<td>Payment Type</td>
									<td>DateTime</td>
								</tr>
							</thead>
							<tbody>
								{% for purchase in purchase_history %}
								{% set paymentType = (purchase.payment_type == 1) ? "Cash" : ((purchase.payment_type == 2) ? "GC" : "Product Maintenance") %}
								<tr>
									<th>{{ purchase.control_number }}</th>
									<th>{{ purchase.product_code }}</th>
									<th>{{ purchase.product_name }}</th>
									<th>{{ purchase.quantity }}</th>
									<th>{{ purchase.total_amount|number_format(2, '.', ',') }}</th>

									{% if(purchase.payment_type == 1) %}
									<th>{{ purchase.total_pv }}</th>
									<th>{{ purchase.total_upv }}</th>
									{% else %}
									<th></th>
									<th></th>
									{% endif %}

									<th>{{ paymentType }}</th>
									<th>{{ purchase.created_at|date('M d, Y h:i:s a') }}</th>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

		<section class="widget">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Product Maintenance</h4>
				</div>
				<div class="card-body collapse in">
					<div class="card-block card-dashboard">
						<table id="table-pmlogs" class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<td>Transaction #</td>
									<td>Verification Code</td>
									<td>Amount</td>
									<td>Status</td>
									<td>DateTime</td>
								</tr>
							</thead>
							<tbody>
								{% for maintenance in maintenances %}
								{% set status = (maintenance.is_used == 1) ? "USED" : "AVAILABLE" %}
								<tr>
									<th>{{ maintenance.trans_code }}</th>
									<th style="font-weight: bold;">{{ maintenance.verification_code }}</th>
									<th>{{ maintenance.amount|number_format(2, '.', ',') }}</th>
									<th>{{ status }}</th>
									<th>{{ maintenance.created_at|date('M d, Y h:i:s a') }}</th>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>

{% endblock %}

{% block ext_js %}
<script src="{{assetUrl}}robust/js/plugins/tables/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{assetUrl}}robust/js/plugins/tables/datatable/dataTables.bootstrap4.min.js" type="text/javascript"></script>

<script type="text/javascript">
	var tblGeneologyList = $("#table-purchase-logs").DataTable();
	$("#table-pmlogs").dataTable(); 
</script>
{% endblock %}
