{% block ext_css %}
<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/css/plugins/tables/datatable/dataTables.bootstrap4.min.css">
{% endblock %}

{% extends 'member/index.twig' %}
{% block body %}

<!-- Content Wrapper. Contains page content -->
<div class="robust-content content container-fluid">
	<div class="content-wrapper">

		{% if flash.message %}
		{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
		<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			{{ flash.message }}
		</div>
		{% endif %}

		<section class="widget">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Pairing Bonus</h4>
				</div>
				<div class="card-body collapse in">
					<div class="card-block card-dashboard">
						<table id="table-weekly-income" class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th>WEEK</th>
									<th colspan="2">AVAILABLE INCOME TO ENCASH</th>
								</tr>
							</thead>
							<tbody>
								{% set total_available_payout = 0 %}

								{% for income in weekly_income %}

								{% set total_available_payout = total_available_payout + income.total_available_payout %}

								<tr>
									<td>{{ income.start_day|date("F d, Y") ~ " to " ~ income.end_day|date("F d, Y") }}</td>
									<td colspan="2">{{ income.total_available_payout|number_format(2, '.', ',') }}</td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr style="background-color: gray; font-weight: bold; color: white;">
									<td colspan="2">SUMMARY</td>
								</tr>
								<tr>
									<td colspan="1"> Total available amount to encash </td>
									<td colspan="1" style="font-weight: bold;"> {{ total_available_payout|number_format(2, '.', ',') }} </td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</section>

		<hr />

		<section class="widget">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Direct Referral Bonus</h4>
				</div>
				<div class="card-body collapse in">
					<div class="card-block card-dashboard">
						<table id="table-weekly-income-dr" class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<th>WEEK</th>
									<th colspan="2">AVAILABLE INCOME TO ENCASH</th>
								</tr>
							</thead>
							<tbody>
								{% set total_available_payout_dr = 0 %}

								{% for income in weekly_income_dr %}

								{% set total_available_payout_dr = total_available_payout_dr + income.total_available_payout %}

								<tr>
									<td>{{ income.start_day|date("F d, Y") ~ " to " ~ income.end_day|date("F d, Y") }}</td>
									<td colspan="2">{{ income.total_available_payout|number_format(2, '.', ',') }}</td>
								</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr style="background-color: gray; font-weight: bold; color: white;">
									<td colspan="2">SUMMARY</td>
								</tr>
								<tr>
									<td colspan="1"> Total available amount to encash </td>
									<td colspan="1" style="font-weight: bold;"> {{ total_available_payout_dr|number_format(2, '.', ',') }} </td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</section>
		
		<hr />

		<section class="widget">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Payout Details</h4>
				</div>
				<div class="card-body collapse in">
					<div class="card-block card-dashboard">
						<table id="table-payout-details" class="table table-bordered table-striped table-hover">
							<thead>
								<tr style="background-color: gray; font-weight: bold; color: white;">
									<th colspan="2">SUMMARY</th>
								</tr>
							</thead>
							<tbody>
								{% set total_payout_amout = total_available_payout + total_available_payout_dr %}
								{% set maintenance_amount = ((not has_current_maintenance) and (total_payout_amout > 5000)) ? 1500 : 0 %}
								
								<tr>
									<td>Total Pairing Bonus Amount</td>
									<td>{{ total_available_payout|number_format(2, '.', ',') }}</td>
								</tr>
								<tr>
									<td>Total Direct Referral Bonus Amount</td>
									<td>{{ total_available_payout_dr|number_format(2, '.', ',') }}</td>
								</tr>
								<tr>
									<td>Total Bonus Amount</td>
									<td>{{ total_payout_amout|number_format(2, '.', ',') }}</td>
								</tr>
								<tr>
									<td colspan="2">-</td>
								</tr>
								{% if (not has_current_maintenance) %}
								<tr>
									<td> Product maintenance </td>
									<td style="font-weight: bold; color: red;"> - {{ maintenance_amount|number_format(2, '.', ',') }} </td>
								</tr>
								{% endif %}
								<tr>
									<td> 10% Tax </td>
									<td style="font-weight: bold; color: red;"> - {{ (total_payout_amout * 0.10)|number_format(2, '.', ',') }} </td>
								</tr>
								<tr>
									<td> Processing Fee </td>
									<td style="font-weight: bold; color: red;"> - {{ 100|number_format(2, '.', ',') }} </td>
								</tr>
								<tr>
									<td colspan="2">-</td>
								</tr>
								<tr>
									<td style="font-weight: bold;">Total Available Payout Amount</td>
									<td style="font-weight: bold;">{{ (total_payout_amout - (maintenance_amount + (total_payout_amout * 0.10) + 100))|number_format(2, '.', ',') }}</td>
								</tr>
								<tr>
									<td></td>
									<td>
										{% if ((disabled) or ((total_payout_amout - (maintenance_amount + (total_payout_amout * 0.10) + 100)) < 0)) %} 
											<small style="color: red;">Payout is not available</small> 
										{% else %}
											{% if (not has_active_payout_request) %}
											<form action="{{ urlFor('encashment') }}" method="post" id="form-encashment">
												<button type="button" onclick="submitEncashment()" class="btn btn-success btn-sm">Request for Encashment</button>
											</form>
											{% else %}
											<small>Waiting for approval</small>
											{% endif %}
										{% endif %}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

		<hr />

		<section class="widget">
			<div class="row">
				<div class="col-xs-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Payout Transactions History</h4>
						</div>
						<div class="card-body collapse in">
							<div class="card-block card-dashboard">
								<table id="table-payout-request" class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>Transaction #</th>
											<th>Total Amount</th>
											<th>10% Withholding Tax</th>
											<th>Processing Fee</th>
											<th>Product Maintenance (GC)</th>
											<th>Encashment Amount</th>
											<th>Date Range</th>
											<th>Status</th>
											<th>Check Status</th>
											<th>Approved By</th>
											<th>Date/Time</th>
										</tr>
									</thead>
									<tbody>
										{% set total_amount_encash = 0 %}
										{% set total_tax = 0 %}
										{% set total_processing_fee = 0 %}
										{% set total_product_maintenance = 0 %}

										{% for payout_request in payout_requests %}

										{% set status = (payout_request.status == 0) ? "Pending" : "Approved" %}
										{% set check_status = (payout_request.check_issued == 0) ? "For Check Generation" : "Check Issued" %}

										{% set total_amount_encash = total_amount_encash + payout_request.amount_encash %}
										{% set total_tax = total_tax + (payout_request.total_amount * 0.10) %}
										{% set total_processing_fee = total_processing_fee + 100 %}
										{% set total_product_maintenance = total_product_maintenance + ((payout_request.is_pm_deducted == 1) ? 1500 : 0) %}
										<tr>
											<td>{{ payout_request.transaction_number }}</td>
											<td>{{ payout_request.total_amount|number_format(2, '.', ',') }}</td>
											<td>{{ (payout_request.total_amount * 0.10)|number_format(2, '.', ',') }}</td>
											<td>{{ 100|number_format(2, '.', ',') }}</td>
											<td>{{ ((payout_request.is_pm_deducted == 1) ? 1500 : 0)|number_format(2, '.', ',') }}</td>
											<td>{{ payout_request.amount_encash|number_format(2, '.', ',') }}</td>
											<td>{{ payout_request.dt_range }}</td>
											<td>{{ status }}</td>
											{% if (payout_request.check_issued == 1) %}
											<td><a href="#" onclick="checkDetails({{payout_request}})">{{ check_status }}</a></td>
											{% else %}
											<td>{{ check_status }}</td>
											{% endif %}
											<td>{{ getUserdetails(payout_request.approved_by).username }}</td>
											<td>{{ payout_request.created_at|date("M d, Y h:i a") }}</td>
										</tr>
										{% endfor %}
									</tbody>
									<tfoot>
										<tr style="background-color: gray; font-weight: bold; color: white;">
											<td colspan="11">SUMMARY</td>
										</tr>
										<tr>
											<td colspan="3">TOTAL ENCASHED AMOUNT</td>
											<td colspan="8" style="font-weight: bold;">{{ total_amount_encash|number_format(2, '.', ',') }}</td>
										</tr>
										<tr>
											<td colspan="3">TOTAL PRODUCT MAINTENANCE</td>
											<td colspan="8" style="font-weight: bold;">{{ total_product_maintenance|number_format(2, '.', ',') }}</td>
										</tr>
										<tr>
											<td colspan="3">TOTAL PAID WITHHOLDING TAXES</td>
											<td colspan="8" style="font-weight: bold; color: red;">{{ total_tax|number_format(2, '.', ',') }}</td>
										</tr>
										<tr>
											<td colspan="3">TOTAL PAID PROCESSING FEE</td>
											<td colspan="8" style="font-weight: bold; color: red;">{{ total_processing_fee|number_format(2, '.', ',') }}</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>

<div class="modal fade" id="check-details-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="modal-title">TRANSACTION #: <span id="modal-transaction"></span></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="form-group col-lg-12">
						<label>Check Date</label>
						<input type="text" class="form-control" name="check_date" disabled/>
					</div>
					<div class="form-group col-lg-12">
						<label>Check Number</label>
						<input type="text" class="form-control" name="check_number" disabled/>
					</div>
					<div class="form-group col-lg-12">
						<label>Bank Name</label>
						<input type="text" class="form-control" name="bank_name" disabled/>
					</div>
					<div class="form-group col-lg-12">
						<label>Bank Account Number</label>
						<input type="text" class="form-control" name="bank_account_no" disabled/>
					</div>
					<div class="form-group col-lg-12">
						<label>Issued By</label>
						<input type="text" class="form-control" name="issued_by" disabled/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block ext_js %}
<script src="{{assetUrl}}robust/js/plugins/tables/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{assetUrl}}robust/js/plugins/tables/datatable/dataTables.bootstrap4.min.js" type="text/javascript"></script>
<script>
	$("#table-payout-request").dataTable({
		"scrollX" : true
	});
	$("#table-weekly-income").dataTable();
	$("#table-weekly-income-dr").dataTable();

	function checkDetails(transaction) {
		$("#modal-transaction").text(transaction.transaction_number);
		$("input[name=check_date]").val(transaction.check_date);
		$("input[name=check_number]").val(transaction.check_no);
		$("input[name=bank_name]").val(transaction.bank_name);
		$("input[name=bank_account_no]").val(transaction.bank_account_no);
		$("input[name=issued_by]").val(transaction.check_issued_by_name);
		
		$("#check-details-modal").modal("show");
	}

	function submitEncashment() {
		var r = confirm("Are you sure do you want to submit this transaction?");
		if (r == true) {
			$('#form-encashment').submit();
		}
	}
</script>
{% endblock %}