{% block ext_css %}
<link href="{{assetUrl}}select2/select2.css" rel="stylesheet" type="text/css" media="screen"/>
{% endblock %}

{% extends 'admin/index.twig' %}
{% block body %}

<!-- Content Wrapper. Contains page content -->
<div class="robust-content content container-fluid">
	<div class="content-wrapper">

		{% if flash.message %}
		{% set alert_status = (flash.message_status == true) ? "success" : "danger" %}
		<div class="alert alert-{{alert_status}} alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			{{ flash.message }}
		</div>
		{% endif %}

		<section class="widget">
			<form method="post" action="{{ urlFor('purchaseProduct') }}" id="form-product-purchase">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">{{ title }}</h4>
					</div>
					<div class="card-body collapse in">
						<div class="card-block card-dashboard">
							<table class="table fixed-layout">
								<tbody>
									<tr class="act-tbl-head">
										<th colspan="2">PRODUCT PURCHASE</th>
									</tr>
									<tr>
										<td class="loan-label">Control Number</td>
										<th style="font-size: 20px; font-weight: bold;">{{control_number}}</th>
										<input type="hidden" name="control_number" value="{{control_number}}" />
									</tr>
									<tr>
										<td class="loan-label">Account Number/Username</td>
										<th>
										<select name="user_id" class="all-users" style="width: 100%;">
											<option value="0">- Select -</option>
											{% for all_user in all_users %}
											<option value="{{ all_user.id }}">{{ all_user.ban }} | {{ all_user.username }}</option>
											{% endfor %}
										</select></th>
									</tr>
									<tr>
										<td class="loan-label">Products</td>
										<th>
										<select name="product_id" class="all-products" style="width: 100%;">
											<option value="0">- Select -</option>
											{% for product in products %}
											<option value="{{ product.id }}">({{product.product_code}}) {{product.product_name}} | Discounted - {{product.price|number_format(2, '.', ',')}} | SRP - ₱{{product.srp|number_format(2, '.', ',')}} | {{product.pv|number_format(2, '.', ',')}}PPV</option>
											{% endfor %}
										</select></th>
									</tr>
									<tr>
										<td class="loan-label">Quantity</td>
										<th>
										<input type="number" min="0" name="quantity" value="1" class="form-control" style="width: 50%;"/>
										</th>
									</tr>
									<tr>
										<td class="loan-label">Payment Type</td>
										<th>
										<select name="payment_type" class="form-control" style="width: 50%;">
											<option value="0">- Select Payment Type -</option>
											<option value="1">Cash</option>
											<option value="2">GC</option>
											<option value="3">Product Maintenance</option>
										</select></th>
									</tr>
									<tr style="display: none;" id="cont-pm">
										<td class="loan-label">Product Maintenance Verification Code</td>
										<th>
										<input type="text" name="pm_code" class="form-control" style="width: 50%;"/>
										</th>
									</tr>
									<tr>
										<td class="loan-label">Available GC</td>
										<th><span style="color: yellow; font-weight: bold;" id="available-GC">0</span></th>
									</tr>
									<tr>
										<td></td>
										<th><a onclick="onPurchaseProduct()" class="btn btn-warning btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a></th>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</form>
		</section>

		<section class="widget">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Sales History</h4>
				</div>
				<div class="card-body collapse in">
					<div class="card-block card-dashboard">
						<table id="table-purchase-logs" class="table table-bordered table-striped table-hover">
							<thead>
								<tr>
									<td>Control Number</td>
									<td>Member Username</td>
									<td>Product Code</td>
									<td>Product Name</td>
									<td>Product Description</td>
									<td>Product Price</td>
									<td>Amount Due</td>
									<td>Quantity</td>
									<td>Total PV</td>
									<td>Payment Type</td>
									<td>Transaction Date</td>
								</tr>
							</thead>
							<tbody>
								{% for purchaseLog in purchaseLogs %}
								{% set product = getProduct(purchaseLog.product_code) %}
								{% set paymentType = (purchaseLog.payment_type == 1) ? "Cash" : ((purchaseLog.payment_type == 2) ? "GC" : "Product Maintenance") %}
								<tr>
									<th>{{ purchaseLog.control_number }}</th>
									<th>{{ getUserdetails(purchaseLog.member_id).username }}</th>
									<th>{{ product.product_code }}</th>
									<th>{{ product.product_name }}</th>
									<th>{{ product.product_description }}</th>
									<th>{{ product.price|number_format(0, '.', ',') }}</th>
									<th>{{ (product.price * purchaseLog.quantity)|number_format(0, '.', ',') }}</th>
									<th>{{ purchaseLog.quantity }}</th>

									{% if(purchaseLog.payment_type == 1) %}
									<th>{{ purchaseLog.total_pv }}</th>
									{% else %}
									<th></th>
									{% endif %}

									<th>{{ paymentType }}</th>
									<th>{{ purchaseLog.created_at }}</th>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{% endblock %}

{% block ext_js %}
<script src="{{assetUrl}}robust/js/plugins/tables/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{assetUrl}}robust/js/plugins/tables/datatable/dataTables.bootstrap4.min.js" type="text/javascript"></script>
<script src="{{assetUrl}}js/jquery.confirm.min.js"></script>
<script src="{{assetUrl}}js/jquery.validate.min.js"></script>
<script src="{{assetUrl}}select2/select2.min.js"></script>
<script>
	$(function() {
		$(".all-users").select2();
		$(".all-products").select2();
		var logs = $("#table-purchase-logs").dataTable();
		logs.fnSort([[9, 'desc']]);

		$("#form-product-purchase").validate({
			rules : {
				user_id : {
					min : 1
				},
				product_id : {
					min : 1
				},
				payment_type : {
					min : 1
				},
				quantity : {
					required : true
				}
			},
			messages : {
				user_id : {
					min : "Please choose your Account"
				},
				product_id : {
					min : "Please choose your Product"
				},
				payment_type : {
					min : "Please choose payment type"
				},
				quantity : {
					required : "Please enter quantity of products"
				}
			},
			onfocusout : false,
			submitHandler : function(form) {
				form.submit();
			}
		});

		$("[name=user_id]").on('change', function() {
			getAvailableGC(this.value);
		});

		$("[name=payment_type]").on("change", function() {
			if (this.value == 3) {
				$("#cont-pm").show();
				$("input[name=quantity]").hide();
				$("input[name=pm_code]").attr("required", true);
			} else {
				$("#cont-pm").hide();
				$("input[name=quantity]").show();
				$("input[name=pm_code]").removeAttr("required");
			}
		});
	});

	function onPurchaseProduct() {
		$.confirm({
			title : 'Checkout',
			text : 'Are you sure you want to proceed?',
			confirm : function() {
				$("#form-product-purchase").submit();
			}
		});
	}

	function getAvailableGC(user_id) {
		var url = "{{baseUrl}}api/available/gc/" + user_id;
		$.get(url, function(gc) {
			$("#available-GC").text(gc + " GC");
		}).fail(function(error) {
			console.log("error", error);
		});
	}
</script>
{% endblock %}