<div role="navigation" data-menu="menu-wrapper" class="header-navbar navbar navbar-horizontal navbar-light navbar-shadow navbar-without-dd-arrow navbar-fixed">
	<!-- Horizontal menu content-->
	<div data-menu="menu-container" class="navbar-container main-menu-content">
		<!-- include includes/mixins-->
		<ul id="main-menu-navigation" data-menu="menu-navigation" class="nav navbar-nav">
			<li id="admin_dashboard" class="nav-item">
				<a href="/admin/dashboard" class="nav-link"><i class="fa fa-dashboard"></i><span data-i18n="nav.templates.main">Dashboard</span></a>
			</li>
			<li id="admin_members" class="nav-item">
				<a href="/admin/user" class="nav-link"><i class="fa fa-users"></i><span data-i18n="nav.templates.main">Members</span></a>
			</li>
			<li id="admin_generatecode" class="nav-item">
				<a href="/admin/generatecodes" class="nav-link"><i class="fa fa-barcode"></i><span data-i18n="nav.templates.main">Activation Codes</span></a>
			</li>
			<li id="admin_payout" class="nav-item">
				<a href="/admin/adminpayout" class="nav-link"><i class="fa fa-money"></i><span data-i18n="nav.templates.main">Payout</span></a>
			</li>
			<li id="admin_settings" class="nav-item">
				<a href="/admin/settings" class="nav-link"><i class="fa fa-cogs"></i><span data-i18n="nav.templates.main">Settings</span></a>
			</li>
			<li id="admin_messages" class="nav-item">
				<a href="/admin/messages" class="nav-link"><i class="fa fa-envelope-o"></i><span data-i18n="nav.templates.main">Messages</span></a>
			</li>
			<li id="admin_unilevel_products" class="nav-item">
				<a href="/admin/unilevel/products" class="nav-link"><i class="fa fa-list" aria-hidden="true"></i><span data-i18n="nav.templates.main">Products</span></a>
			</li>
			{#
			<li id="admin_unilevel" data-menu="dropdown" class="dropdown nav-item">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="fa fa-pencil"></i><span data-i18n="nav.templates.main">Unilevel</span></a>
				<ul class="dropdown-menu">
					<li id="admin_unilevel_products">
						<a href="/admin/unilevel/products" class="dropdown-item">Products</a>
					</li>
					<li id="admin_unilevel_sales">
						<a href="/admin/unilevel/sales" class="dropdown-item">PoS</a>
					</li>
					<li id="admin_unilevel_summary">
						<a href="/admin/unilevel/summarylogs" class="dropdown-item">Summary Logs</a>
					</li>
				</ul>
			</li>
			#}
		</ul>
	</div>
	<!-- /horizontal menu content-->
</div>