.widget {
	border-radius: 3px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 12px 17px;
	color: white;
	font-weight: bold;
	/*background: rgba(51,51,51,0.4);*/
	background-color: #DBB116;
	margin-bottom: 30px;
	position: relative;
}

.widget2 {
	border-radius: 3px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 12px 17px;
	color: #005A32;
	font-weight: bold;
	/*background: rgba(51,51,51,0.4);*/
	background-color: #005A32;
	margin-bottom: 30px;
	position: relative;
}

.widget3 {
	border-radius: 3px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 12px 17px;
	color: #005A32;
	font-weight: bold;
	/*background: rgba(51,51,51,0.4);*/
	background-color: #DBB116;
	margin-bottom: 30px;
	position: relative;
}

.form-actions {
	padding: 17px 20px 18px;
	margin-top: 18px;
	/*background-color: rgba(51,51,51,0.3);*/
	background-color: #008C46;
}

.jca-body {
	background-color: rgba(0, 140, 70, 0.15);
	background-image: none;
}

.page-title {
	color: #005A32;
	font-weight: 300;
	line-height: 1;
	margin: 11px 0 18px;
}

.side-nav li a {
	color: #005A32;
	-webkit-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
	transition: background-color 0.2s;
	text-decoration: none;
	display: block;
	padding: 10px 20px;
	border-radius: 6px;
}

.box {
	border-radius: 3px;
	padding: 5px;
	text-align: center;
	margin-bottom: 30px;
	background-color: #008C46 !important;
	color: white !important;
}

.section {
	font-size: 14px;
	color: #005A32;
	vertical-align: middle;
	line-height: 30px;
	padding: 10px 0 0;
}

.section2 {
    font-size: 14px;
    color: #eef3f0;
    vertical-align: middle;
    line-height: 30px;
    padding: 10px 0 0;
}

.widget > header {
	position: relative;
	background: none;
	color: #005A32;
	font-weight: bold;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 18px;
    background-color: #008C46;
}

.login-widget, .registration-widget {
    width: 350px;
    padding-bottom: 0;
    color: #005A32;
}