@font-face {
    font-family: Cinzel;
    src: url(../fonts/Cinzel/Cinzel-Regular.ttf);
}

.text-muted {
 color : #FCCD4D !important;
}

body {
	font-family:Cinzel;
}

.clip-header {
	display: none;
}

/** navbar customisation */
.navbar {
	min-height: 30px
}

.navbar-top-links li a {
	min-height: 30px;
	padding: 10px 15px;
}

.navbar-brand {
	padding: 15px 15px 10px;
}

.navbar-inverse .navbar-brand {
	color: #ddd;
}

.navbar-inverse {
	background: linear-gradient(to bottom, #2C3742 0%, #28303A 100%);
	border-bottom: 1px solid #191E23;
	color: #ddd;
}

img.navbar-logo {
	height: 30px;
	margin: 5px 10px;
	float: left;
}

.page-header-box  h3, .page-header-box  a {
	margin-top: 15px;
	border-bottom: none;
}

.page-header-box {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 20px;
}

/** sidebar arrow */
.pointer {
	position: absolute;
	right: 20px;
	top: 10px;
}
.pointer .arrow, .pointer .arrow_border {
	border-color: transparent #fff transparent transparent;
	border-width: 11px;
	border-style: solid;
	font-size: 0;
	left: 50%;
	line-height: 0;
	margin: 0 auto;
	position: absolute;
	top: 0;
	width: 0;
	z-index: 1002;
	left: 0;
	margin-left: 45%;
}
.pointer .arrow_border {
	border-color: transparent #e7e7e7 transparent transparent;
	border-width: 11px;
	margin-left: -1px;
	border-style: solid;
	z-index: 1001;
	top: 0px;
}

.navbar-static-side a {
	color: #33455A;
}

/** sidebar active */
.menu_active > a {
	color: #ffffff;
	background: #33455A;
}
.nav > li.menu_active > a:focus, .nav > li.menu_active > a:hover {
	color: #ffffff;
	background: #33455A;
}

#page-wrapper {
	min-height: 0;
}

#loader {
	display: none;
}

/** modal customisation */
.modal-header, .modal-footer {
	padding: 5px 20px;
	background: #eee;
}

.modal-header {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.modal-footer {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

@media (min-width: 768px) {
	.navbar-static-side {
		z-index: 1;
		position: absolute;
		width: 200px;
	}

	#page-wrapper {
		margin: 0 0 0 200px;
		min-height: 0;
		border-left: 1px solid #e7e7e7;
	}
}

/* LOGIN PAGE */
.login-container .hpanel .panel-body {
	background: #EAE6E6;
}
.login-btn {
	background-color: #40C254;
	border-color: #62cb31;
}

/*upload file container*/
.questionUpload {
	position: relative;
	margin-top: 10px;
	background: #F5F7FA;
	width: 100%;
	height: 150px;
	padding: 25px;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	background-image: url("../images/uploadfile.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 120px 98px;
}
.questionUpload:hover {
	background: #E0EFF5;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	background-image: url("../images/uploadfile.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 120px 98px;
}
.questionUpload input.upload {
	width: 100%;
	height: 150px;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	/* width: 100%; */
	/* height: 150px; */
	filter: alpha(opacity=0);
}
.question-upload-text {
	margin-top: -38px;
	color: #636E7B;
}
.question-upload-text p {
	font-weight: normal;
	font-size: 16px;
}

.activation-label {
	padding: 15px !important;
}

.activation-input {
	width: 80% !important;
}

.fixed-layout {
	table-layout: fixed;
}

.loan-label {
	padding-left: 50px !important;
	white-space: initial !important;
}

@media (max-width: 1200px) {
.table-responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
  -webkit-overflow-scrolling: touch;
	}
}

/*CSS OVERRIDES*/
body {
	background: #771a93;
	color: white;
}

#header {
	background: #9400D3;
	background: linear-gradient(to bottom, #000000 0%, #771a93 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #771a93));
	background: -webkit-linear-gradient(top, #000000 0%, #771a93 100%);
	background: -moz-linear-gradient(top, #000000 0%, #771a93 100%);
	background: -o-linear-gradient(top, #000000 0%, #771a93 100%);
	background: -ms-linear-gradient(top, #000000 0%, #771a93 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#771a93', GradientType=0);
	border: 1px solid #7600B5;
	box-shadow: inset 0 1px 0 #A30FE2;
	-webkit-box-shadow: inset 0 1px 0 #A30FE2;
	-moz-box-shadow: inset 0 1px 0 #A30FE2;
	height: 56px;
}

#logo, .hide-menu {
	background: #9400D3;
	background: linear-gradient(to bottom, #000000 0%, #771a93 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #771a93));
	background: -webkit-linear-gradient(top, #000000 0%, #771a93 100%);
	background: -moz-linear-gradient(top, #000000 0%, #771a93 100%);
	background: -o-linear-gradient(top, #000000 0%, #771a93 100%);
	background: -ms-linear-gradient(top, #000000 0%, #771a93 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#771a93', GradientType=0);
	border: 1px solid #7600B5;
	box-shadow: inset 0 1px 0 #A30FE2;
	-webkit-box-shadow: inset 0 1px 0 #A30FE2;
	-moz-box-shadow: inset 0 1px 0 #A30FE2;
	border: none !important;
}

#logo {
	padding:7px;
	/*border-bottom: 1px solid #771a93 !important;*/
}

aside {

}

#side-menu {
	background:none;
}

#side-menu li {
	border:none !important;
}

#side-menu li a {
	color:white;
}

#side-menu.nav>li>a:hover, #side-menu.nav>li>a:focus {
    background: #64167C;
    color: white;
}

#side-menu li.active {
    background: #FBDF93;
}

#wrapper {
	background: -webkit-linear-gradient(0deg, rgb(205, 174, 89) 0, rgba(251,223,147,1) 1%, rgba(251,223,147,1) 5%, #f2c759 20%, rgba(252,205,77,1) 62%, rgba(252,234,187,1) 81%, rgba(252,205,77,1) 91%, rgba(252,205,77,1) 100%);
  background: -moz-linear-gradient(90deg, rgb(205, 174, 89) 0, rgba(251,223,147,1) 1%, rgba(251,223,147,1) 5%, #f2c759 20%, rgba(252,205,77,1) 62%, rgba(252,234,187,1) 81%, rgba(252,205,77,1) 91%, rgba(252,205,77,1) 100%);
  background: linear-gradient(90deg, rgb(205, 174, 89) 0, rgba(251,223,147,1) 1%, rgba(251,223,147,1) 5%, #f2c759 20%, rgba(252,205,77,1) 62%, rgba(252,234,187,1) 81%, rgba(252,205,77,1) 91%, rgba(252,205,77,1) 100%);
  background-position: 50% 50%;
  border: none;
}

.footer {
	bottom: -6px;
	background: #F3CB64;
	border-top: none;
}

.hpanel .panel-body {
    background: rgba(155, 89, 182, 0.14);
    border: 1px solid rgba(142, 68, 173, 0.39);
    border-radius: 2px;
    padding: 20px;
    position: relative;
    color: black;
}

.hpanel>.panel-heading {
    color: #15051A;
    font-size: 16px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(119, 26, 147, 0.12);
}

.form-control {
	background-color: #EED4B3;
}

.modal-header, .modal-footer {
    background: #771a93;
}

.modal-body {
    color: black;
    font-size: 16px;
}
/*.hpanel {
	background-color:black;
	color: white;
}*/


