@font-face {
    font-family: Cinzel;
    src: url(../fonts/Cinzel/Cinzel-Regular.ttf);
}

@font-face {
    font-family: Play;
    src: url(../fonts/Play/Play-Regular.ttf);
}


body {
	font-family:'Play' !important;
}

 body.modal-open {
    overflow: hidden !important;
    position: fixed !important;
    width: 100% !important;
}

p {
	font-size: 16px;
}

.text-violet {
    color: #691781;
}

.darkviolet {
	background: #9400D3;
	background: linear-gradient(to bottom, #000000 0%, #771a93 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #771a93));
	background: -webkit-linear-gradient(top, #000000 0%, #771a93 100%);
	background: -moz-linear-gradient(top, #000000 0%, #771a93 100%);
	background: -o-linear-gradient(top, #000000 0%, #771a93 100%);
	background: -ms-linear-gradient(top, #000000 0%, #771a93 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#771a93', GradientType=0);
	border: none;
	box-shadow: inset 0 1px 0 #A30FE2;
	-webkit-box-shadow: inset 0 1px 0 #A30FE2;
	-moz-box-shadow: inset 0 1px 0 #A30FE2;
}

.goldenbg {
  background: -webkit-linear-gradient(0deg, rgb(205, 174, 89) 0, rgba(251,223,147,1) 1%, rgba(251,223,147,1) 5%, #f2c759 20%, rgba(252,205,77,1) 62%, rgba(252,234,187,1) 81%, rgba(252,205,77,1) 91%, rgba(252,205,77,1) 100%);
  background: -moz-linear-gradient(90deg, rgb(205, 174, 89) 0, rgba(251,223,147,1) 1%, rgba(251,223,147,1) 5%, #f2c759 20%, rgba(252,205,77,1) 62%, rgba(252,234,187,1) 81%, rgba(252,205,77,1) 91%, rgba(252,205,77,1) 100%);
  background: linear-gradient(90deg, rgb(205, 174, 89) 0, rgba(251,223,147,1) 1%, rgba(251,223,147,1) 5%, #f2c759 20%, rgba(252,205,77,1) 62%, rgba(252,234,187,1) 81%, rgba(252,205,77,1) 91%, rgba(252,205,77,1) 100%);
  background-position: 50% 50%;
  color: black;
}

.navbar {
	/*font-size: 18px;
	font-weight: bold;*/

}

.landing-page header {
	height: auto;
	margin-bottom: -5px;
	position: relative;
}

.landing-page .navbar-nav>li>a {
    font-size: 18px;
    /*font-weight: bold;*/
    padding: 15px 15px;
    color: white;
}

.landing-page .navbar-nav>li>a:hover, .landing-page .navbar-nav>li>a:focus {
    background:#521265;
}

.landing-page section {
    padding: 50px 0 50px 0;
     border-bottom: none; 
}

#find-btn {
	position: absolute;
    left: 46%;
    bottom: 20%;
    font-family: 'Cinzel' !important;
    font-weight: bold;
    border: none;
}

#find-btn:hover, #find-btn:focus {
	color: black;
}

footer {
    background: #59146E;
    color: white;
    border: none;
    padding: 10px 0px;
}

.plan-box {
	opacity: 1;
}


/*INDEX STYLES*/
#video-container video {
	width: 100%;
}

#components p {
	font-size: 16px;
	color: black;

}

/*PRODUCTS STYLES*/
#products2 img {
	width: 100%;
}

#products2 .hpanel .panel-body {
    background: rgba(88, 19, 109, 0.2);
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.section-title {
	text-align: center;
	color: white;
	font-family: 'Cinzel';
}

.goldenbg .section-title {
	color: black;
}

#products2 h1 {
	margin-top: 24px;
}

#products2 h1, #products h2 {
	font-family: 'Cinzel';
	color: white;
}

#products2 p {
	font-size: 18px;
}

.product-modal img {
	width: 100%;
	max-width: 600px;
}

.product-modal .modal-title{
	font-family: 'Cinzel';
}

.product-modal .modal-header p {
	font-size: 18px;
	color: black;
}

/*ABOUT US STYLES*/

#about-us {
	font-family: 'Cinzel';
}

#about-us h2 {
	text-align: center;
}

#about-us p {
	color: black;
	font-size: 16px;
	margin-bottom: 24px;
}

/*USEFUL LINKS*/
#useful-links {
    background: #010101;
    padding: 12px 0 12px 0;
}

#useful-links p {
	display: block;
	width: 100%;
}

#useful-links p:hover {
	color: #59146E;
}

/*USEFUL PAGE*/
#useful-links label {
	font-size: 16px;
	margin-top: 12px;
}
.useful-tab {
	margin-top: 32px;
}
