/*Now the CSS*/
* {
	margin: 0;
	padding: 0;
}

.tree {
	width: 1000px;
	margin: 0 auto;
}

.tree ul {
	padding-top: 20px;
	position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 50%;
	height: 20px;
}
.tree li:after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
 any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
	padding-top: 0;
}

/*Remove left connector from first child and
 right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after {
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
	height: 20px;
	margin-left: -1px;
}

.tree li a {
	/*border: 3px solid #d7d7d7;*/
	/*padding: 36px 43px;*/
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	width: 100px;
	height: auto;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
/*.tree li a:hover, .tree li a:hover+ ul li a {
 background: #c8e4f8;
 color: #000;
 border: 1px solid #94a0b4;
 }*/
/*Connector styles on hover*/
.tree li a:hover+ ul li::after, .tree li a:hover+ ul li::before, .tree li a:hover+ ul::before, .tree li a:hover+ ul ul::before {
	border-color: #94a0b4;
}

li a.just-line {
	display: none;
}
a.just-line + ul {
	padding-top: 74px;
}
a.just-line + ul:before {
	height: 74px;
}

.inactive-geneology-container {
	/*background-color: #919191;*/
}

.active-geneology-container {
	/*background-color: #59bad1;*/
}

.gene-panel {
	background: #9400D3;
	background: linear-gradient(to bottom, #000000 0%, #771a93 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #771a93));
	background: -webkit-linear-gradient(top, #000000 0%, #771a93 100%);
	background: -moz-linear-gradient(top, #000000 0%, #771a93 100%);
	background: -o-linear-gradient(top, #000000 0%, #771a93 100%);
	background: -ms-linear-gradient(top, #000000 0%, #771a93 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#771a93', GradientType=0);
	border: 1px solid #7600B5;
	box-shadow: inset 0 1px 0 #A30FE2;
	-webkit-box-shadow: inset 0 1px 0 #A30FE2;
	-moz-box-shadow: inset 0 1px 0 #A30FE2;
}

.geneology-image {
	width: 50%;
	height: auto;
	clear: both;
}

.geneology-label {
	width: 100px;
	height: auto;
	font-weight: bold;
	font-size: 14px;
	color: #005A32 !important;
	display: block;
	margin: 0 auto;
}

.bg-gene {
    background-color: #008C46 !important;
    color: white !important;
    text-align: center;
    text-shadow: 0px 2px 3px #555;
    padding: 1px;
    margin-top: 12px;
}

.center {
	width: 100%;
	padding: 10px;
	position: relative;
	overflow: auto;
}

