{% block ext_css %}
<link rel="stylesheet" type="text/css" href="{{assetUrl}}robust/css/plugins/tables/datatable/dataTables.bootstrap4.min.css">
{% endblock %}

{% extends 'member/index.twig' %}
{% block body %}

<!-- Content Wrapper. Contains page content -->
<div class="robust-content content container-fluid">
	<div class="content-wrapper">

		<h2 class="page-title"><span class="fw-semi-bold">{{ title }}</span><small id="user-label"></small></h2>
		<section class="widget">
			<div class="row">
				<table class="table fixed-layout">
					<tbody>
						<tr class="act-tbl-head">
							<td>TOTAL CASH PAIRING BONUS</td>
							<th style="font-size: 22px; font-weight: bold;">{{ getPMBbonus(user.id) |number_format(2, '.', ',')  }} </th>
						</tr>
						<tr>
							<td>REMAINING CASH PAIRING BONUS</td>
							<th style="font-size: 22px; font-weight: bold;">{{ getRemainingPairingIncome(user.id) |number_format(2, '.', ',')  }} </th>
						</tr>
						<tr>
							<td>TOTAL VOUCHER 5TH CYCLE PAIRING BONUS</td>
							<th style="font-size: 22px; font-weight: bold;">{{ getPMBGCbonus(user.id)|round  }} GC</th>
						</tr>
					</tbody>
				</table>

				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Paring Bonus</h4>
					</div>
					<div class="card-body collapse in">
						<div class="card-block card-dashboard">
							<table id="table-PMB" class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<td>#</td>
										<td>INCOME RECEIVED</td>
										<!-- <td>USED PV</td> -->
										<td>STATUS</td>
										<td>EARNING TYPE</td>
										<td>DATE/TIME</td>
									</tr>
								</thead>
								<tbody>
									{% for key, pair in pairings %}
									{% set status = (pair.is_valid == 1) ? "Valid" : "Flushed" %}
									{% set income = (pair.is_gc == 0) ? pair.amount|number_format(2, '.', ',') : pair.amount|round ~ " GC" %}
									{% set earning_type = (pair.is_gc == 0) ? "Cash" : "Gift Certificate" %}
									<tr>
										{% set index = key + 1 %}
										<th>{{ index }}</th>
										<th>{{ income }}</th>
										<!-- <th>{{ pair.used_pv }}</th> -->
										<th>{{ status }}</th>
										<th>{{ earning_type }}</th>
										<th>{{ pair.created_at|date('M d, Y h:i a') }}</th>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div><!-- /.box-body -->
					</div><!-- /.box -->
				</div>
			</div><!-- /.row -->
		</section>

		<section class="widget">
			<div class="row">
				<table class="table fixed-layout">
					<tbody>
						<tr class="act-tbl-head">
							<td>TOTAL CASH DR BONUS</td>
							<th style="font-size: 22px; font-weight: bold;">{{ getTotalDRBonus(user.id) |number_format(2, '.', ',')  }} </th>
						</tr>
						<tr class="act-tbl-head">
							<td>REMAINING CASH DR BONUS</td>
							<th style="font-size: 22px; font-weight: bold;">{{ getRemainingDRIncome(user.id) |number_format(2, '.', ',')  }} </th>
						</tr>
						<tr>
							<td>TOTAL VOUCHER DR BONUS</td>
							<th style="font-size: 22px; font-weight: bold;">{{ getTotalDR_GC_Bonus(user.id)|round  }} GC</th>
						</tr>
					</tbody>
				</table>

				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Direct Referral Bonus</h4>
					</div>
					<div class="card-body collapse in">
						<div class="card-block card-dashboard">
							<table id="table-DR" class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<td>#</td>
										<td>DIRECT USERNAME</td>
										<td>EARNINGS IN CASH</td>
										<td>EARNINGS IN GC</td>
										<td>DATE/TIME</td>
									</tr>
								</thead>
								<tbody>
									{% for key, direct_referral in direct_referrals %}
									<tr>
										{% set index = key + 1 %}
										<th>{{ index }}</th>
										<th>{{ getUserdetails(direct_referral.recruitee_id).username }}</th>
										<th>{{ direct_referral.amount|number_format(2, '.', ',') }}</th>
										<th>{{ direct_referral.gc|number_format(2, '.', ',') }} GC</th>
										<th>{{ direct_referral.created_at|date('M d, Y h:i a') }}</th>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div><!-- /.box-body -->
					</div><!-- /.box -->
				</div><!-- /.row -->
			</div><!-- /.row -->
		</section>

		<section class="widget">
			<div class="row">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Transaction History</h4>
					</div>
					<div class="card-body collapse in">
						<div class="card-block card-dashboard">
							<table id="table-payout-request" class="table table-bordered table-striped table-hover">
								<thead>
									<tr>
										<th>Transaction #</th>
										<th>Total Amount</th>
										<th>10% Processing Fee</th>
										<th>Product Maintenance (GC)</th>
										<th>Encashment Amount</th>
										<th>Range</th>
										<th>Date/Time</th>
									</tr>
								</thead>
								<tbody>
									{% set total_amount = 0 %}
									{% set total_pm = 0 %}

									{% for payout_request in payout_requests %}

									{% set total_amount = total_amount + payout_request.amount_encash %}
									{% set pm = (payout_request.is_pm_deducted == 1) ? 1500 : 0 %}

									{% set total_pm = total_pm + pm %}
									<tr>
										<td>{{ payout_request.transaction_number }}</td>
										<td>{{ payout_request.total_amount|number_format(2, '.', ',') }}</td>
										<td>{{ (payout_request.total_amount * 0.10)|number_format(2, '.', ',') }}</td>
										<td>{{ ((payout_request.is_pm_deducted == 1) ? 1500 : 0)|number_format(2, '.', ',') }}</td>
										<td>{{ payout_request.amount_encash|number_format(2, '.', ',') }}</td>
										<td>{{ payout_request.week_range }}</td>
										<td>{{ payout_request.created_at|date("M d, Y h:i a") }}</td>
									</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<td style="font-weight: bold;">TOTAL</td>
										<td></td>
										<td></td>
										<td style="font-weight: bold;">{{ total_pm|number_format(2, '.', ',') }}</td>
										<td style="font-weight: bold;">{{ total_amount|number_format(2, '.', ',') }}</td>
										<td></td>
										<td></td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{% endblock %}

{% block ext_js %}
<script src="{{assetUrl}}robust/js/plugins/tables/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{{assetUrl}}robust/js/plugins/tables/datatable/dataTables.bootstrap4.min.js" type="text/javascript"></script>

<script type="text/javascript">
	$("#table-PMB").dataTable();
	$("#table-DR").dataTable();
	$("#table-payout-request").dataTable(); 
</script>
{% endblock %}
