{% extends 'admin/index.twig' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="normalheader transition animated fadeIn">
	<div class="hpanel">
		<div class="panel-body">
			<a class="small-header-action" href="">
			<div class="clip-header">
				<i class="fa fa-arrow-up"></i>
			</div> </a>
			<h2 class="font-light m-b-xs"><i class="fa fa-fw fa-list"></i> {{title}}</h2>
		</div>
	</div>
</div>

<div class="content animate-panel">
	{% if flash.message %}
	{% if flash.message_status == true %}
	<div class="alert alert-success alert-dismissable" style="margin-top: 25px">
		{% else %}
		<div class="alert alert-danger alert-dismissable" style="margin-top: 25px">
			{% endif %}
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">
				×
			</button>
			{{ flash.message }}
		</div>
		{% endif %}

		<div class="hpanel">
			<div class="panel-body">
				<div class="box-body table-responsive">
					<table id="table-pair-groups" class="table table-bordered table-striped table-hover">
						<thead>
							<tr>
								<td>MONTHLY</td>
								<td>ACTION</td>
							</tr>
						</thead>
						<tbody>
							{% for summaryLog in summaryLogs %}
							<tr>
								<th>{{ summaryLog }}</th>
								<td><a href="{{baseUrl()}}/admin/unilevel/summarylogs/view/{{ weekGroupToBase64(summaryLog) }}" class="btn btn-info btn-xs"><i class="fa pe-7s-search" title="view history"></i> View</></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>

		<script>
			var tblPairGroup = $("#table-pair-groups").dataTable();
		</script>
		{% endblock %}

